force-app/main/default/flows/Account_Open_Case_From_Web.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Field_Change_Agency</name>
        <label>Set Field Change Agency</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_Agency.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agency__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Agency.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agenzia</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Agency.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Agency.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Agency.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_Agency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_AgentCode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_AgentCode</name>
        <label>Set Field Change AgentCode</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_AgentCode.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AgentId__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_AgentCode.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Codice Agente</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_AgentCode.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AgentId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_AgentCode.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_AgentCode.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_AgentCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_Industry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_Fiscal_Code</name>
        <label>Set Field Change Fiscal Code</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_FiscalCode.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FiscalCode__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_FiscalCode.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Codice Fiscale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_FiscalCode.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FiscalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_FiscalCode.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_FiscalCode.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_FiscalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_Agency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_FormaAnagrafica</name>
        <label>Set Field Change FormaAnagrafica</label>
        <locationX>176</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_FormaAnagrafica.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FormaAnagrafica__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_FormaAnagrafica.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Forma Anagrafica</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_FormaAnagrafica.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FormaAnagrafica__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_FormaAnagrafica.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_FormaAnagrafica.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_FormaAnagrafica</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_Nation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_Industry</name>
        <label>Set Field Change Industry</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_Industry.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Industry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Industry.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Industry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Industry.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Industry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Industry.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Industry.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_Industry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_FormaAnagrafica</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_Name</name>
        <label>Set Field Change Name</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_Name.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Name.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Name.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Name.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Name.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_Vat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_Nation</name>
        <label>Set Field Change Nation</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_Nation.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nation__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Nation.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Nation.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Nation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Nation.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Nation.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_Nation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_Record_Type</name>
        <label>Set Field Change Record Type</label>
        <locationX>176</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_RecordType.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RecordTypeId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_RecordType.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_RecordType.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_RecordType.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_RecordType.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_RecordType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_FieldChange_Not_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_Vat</name>
        <label>Set Field Change Vat</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_Vat.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VatNumber__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Vat.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partita Iva</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Vat.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VatNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Vat.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Vat.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_Vat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_Fiscal_Code</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_FieldChange_Not_Blank</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter FieldChange Not Blank</label>
        <locationX>176</locationX>
        <locationY>1535</locationY>
        <assignNextValueToReference>currentItem_Filter_FieldChange_Not_Blank</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>FieldChangeList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_FieldChange_Not_Blank.Value__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_FieldChange_Not_Blank.Value__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue></stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Create_Field_Change_Records</targetReference>
        </connector>
    </collectionProcessors>
    <interviewLabel>Account - Open Case From Web {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Open Case From Web</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Case</name>
        <label>Create a Case</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Set_Field_Change_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Richiesta Aggiornamento Anagrafica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Richiesta Aggiornamento Anagrafica</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Field_Change_Records</name>
        <label>Create Field Change Records</label>
        <locationX>176</locationX>
        <locationY>1655</locationY>
        <inputReference>Filter_FieldChange_Not_Blank</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpenCaseFromWeb__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_FieldChange_Not_Blank</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_Agency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_AgentCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_FiscalCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_FormaAnagrafica</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_Industry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_Name</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_Nation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_Vat</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChangeList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
</Flow>
