force-app/main/default/flows/Account_Connect_Billing_Profile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignIdBillingParent</name>
        <label>AssignIdBillingParent</label>
        <locationX>440</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>IdBillingProfileParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopBilligProfile.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopBilligProfile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewBilling</name>
        <label>AssignNewBilling</label>
        <locationX>440</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>Loop_Billing_Assign.Billing_Profile_Amministratore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdBillingProfileParent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Billing_Assign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Billing_Assign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecisionNewUpdate</name>
        <label>DecisionNewUpdate</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNEW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_FRM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>IsNEW</label>
        </rules>
        <rules>
            <name>IsCHANGE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetBillingProfile</targetReference>
            </connector>
            <label>IsCHANGE</label>
        </rules>
    </decisions>
    <decisions>
        <name>IdBillingCondominio</name>
        <label>IdBillingCondominio</label>
        <locationX>572</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Loop_Billing_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AssignId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Billing_Assign.AccountId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewBilling</targetReference>
            </connector>
            <label>AssignId</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaveIdBillingParent</name>
        <label>SaveIdBillingParent</label>
        <locationX>572</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>LoopBilligProfile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SaveId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopBilligProfile.AccountId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ParentId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopBilligProfile.DefaultBillingProfile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignIdBillingParent</targetReference>
            </connector>
            <label>SaveId</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW_FRM</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Account - Connect Billing Profile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Connect Billing Profile</label>
    <loops>
        <name>Loop_Billing_Assign</name>
        <label>Loop_Billing_Assign</label>
        <locationX>352</locationX>
        <locationY>1127</locationY>
        <collectionReference>GetBillingProfile</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IdBillingCondominio</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateBillingProfile</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopBilligProfile</name>
        <label>LoopBilligProfile</label>
        <locationX>352</locationX>
        <locationY>575</locationY>
        <collectionReference>GetBillingProfile</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SaveIdBillingParent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Billing_Assign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetBillingProfile</name>
        <label>GetBillingProfile</label>
        <locationX>352</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopBilligProfile</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BillingProfile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateBillingProfile</name>
        <label>UpdateBillingProfile</label>
        <locationX>352</locationX>
        <locationY>1679</locationY>
        <inputReference>UpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DecisionNewUpdate</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FormaAnagrafica__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CONDOMINIO</stringValue>
            </value>
        </filters>
        <filters>
            <field>FormaAnagrafica__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CONDOMINIA</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IdBillingProfileParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BillingProfile__c</objectType>
    </variables>
</Flow>
