force-app/main/default/flows/AddFieldValueToQuoteFromUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignNewValueOnQuote</name>
        <label>AssignNewValueOnQuote</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>$Record.SalesChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.SalesChannel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountFromAgencyCodeUser.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Installatore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Installer.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>User_Has_Agency_Code_Datamax</name>
        <label>User Has Agency Code Datamax?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>User_Has_Installer_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.AgencyCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountFromAgencyCodeUser</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se l&apos;utente ha il codice installatore, allora la quote sarà assegnata a questo installatore</description>
        <name>User_Has_Installer_Code</name>
        <label>User Has Installer Code?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>AssignNewValueOnQuote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesInstaller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Installer_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Installer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates:
- rimossa query utente corrente, sostituendola con la variabile standard $user del flow
- variata logica di valorizzazione dell&apos;installatore della quote, facendo la query su account, invece che user</description>
    <environments>Default</environments>
    <interviewLabel>AddFieldValueToQuoteFromUser {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - AddFieldValueToQuoteFromUser</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Se l&apos;utente corrente ha il codice installatore, recuperiamo l&apos;account con quel codice</description>
        <name>Get_Account_Installer</name>
        <label>Get Account Installer</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignNewValueOnQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgencyCodeDatamax__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Installer_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountFromAgencyCodeUser</name>
        <label>getAccountFromAgencyCodeUser</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Has_Installer_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AgencyCodeDatamax__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.AgencyCode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Has_Agency_Code_Datamax</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SalesChannel__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>10</triggerOrder>
</Flow>
