force-app/main/default/flows/Address_Open_Case_From_Web.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Field_Change_At</name>
        <label>Set Field Change At</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_At.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>At__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_At.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Presso</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_At.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.At__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_At.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_At.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_At</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_Province</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_City</name>
        <label>Set Field Change City</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_City.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>City__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_City.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Località</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_City.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_City.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_City.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_At</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_Country</name>
        <label>Set Field Change Country</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_Country.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Country__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Country.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paese</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Country.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Country.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Country.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_StreetNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_Hamlet</name>
        <label>Set Field Change Hamlet</label>
        <locationX>50</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_Hamlet.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hamlet__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Hamlet.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Frazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Hamlet.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Hamlet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Hamlet.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Hamlet.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_Hamlet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_FieldChange_Not_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_IsActive</name>
        <label>Set Field Change IsActive</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_IsActive.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IsActive__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_IsActive.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attivo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_IsActive.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_IsActive.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_IsActive.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_IsActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_StreetName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_Province</name>
        <label>Set Field Change Province</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_Province.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Province__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Province.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Provincia</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Province.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Province.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Province.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_Province</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_StreetName</name>
        <label>Set Field Change StreetName</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_StreetName.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>StreetName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_StreetName.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nome Via</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_StreetName.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StreetName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_StreetName.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_StreetName.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_StreetName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_ZipCode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_StreetNumber</name>
        <label>Set Field Change StreetNumber</label>
        <locationX>50</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_StreetNumber.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>StreetNumber__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_StreetNumber.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Numero Civico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_StreetNumber.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StreetNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_StreetNumber.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_StreetNumber.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_StreetNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_Hamlet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_ZipCode</name>
        <label>Set Field Change ZipCode</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_ZipCode.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ZipCode__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_ZipCode.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CAP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_ZipCode.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ZipCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_ZipCode.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_ZipCode.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_ZipCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_City</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_FieldChange_Not_Blank</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter FieldChange Not Blank</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <assignNextValueToReference>currentItem_Filter_FieldChange_Not_Blank</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>FieldChangeList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_FieldChange_Not_Blank.Value__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_FieldChange_Not_Blank.Value__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue></stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Create_Field_Change_Records</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Account_Created_From_Web</name>
        <label>Account Created From Web?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId__r.OpenCaseFromWeb__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseFromAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Address - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Address - Open Case From Web</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Field_Change_Records</name>
        <label>Create Field Change Records</label>
        <locationX>50</locationX>
        <locationY>1775</locationY>
        <inputReference>Filter_FieldChange_Not_Blank</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCaseFromAccount</name>
        <label>GetCaseFromAccount</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Field_Change_IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Richiesta Aggiornamento Anagrafica</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Created_From_Web</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>8</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9</stringValue>
            </value>
        </filters>
        <object>Address__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_FieldChange_Not_Blank</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_At</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_City</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_Hamlet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_IsActive</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_Province</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_StreetName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_StreetNumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_ZipCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChangeList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
</Flow>
