force-app/main/default/flows/AggiornaDisponibilitaMagazzino.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetProductsFromQuoteLine</name>
        <label>GetProductsFromQuoteLine</label>
        <locationX>476</locationX>
        <locationY>481</locationY>
        <actionName>UtilsFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopProductRecords</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>productIds</name>
            <value>
                <elementReference>productsIDs</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>productRecords</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assignValueToProduct</name>
        <label>assignValueToProduct</label>
        <locationX>476</locationX>
        <locationY>931</locationY>
        <assignmentItems>
            <assignToReference>productsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopProductRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProductRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>changeQuantityMagazzino</name>
        <label>changeQuantityMagazzino</label>
        <locationX>852</locationX>
        <locationY>946</locationY>
        <assignmentItems>
            <assignToReference>LoopProductRecords.Quantit_Magazzino__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculateQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLineToFindProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StoreProductIds</name>
        <label>StoreProductIds</label>
        <locationX>1185</locationX>
        <locationY>799</locationY>
        <assignmentItems>
            <assignToReference>productsIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQuoteLineRecords.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuoteLineRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkProduct</name>
        <label>checkProduct</label>
        <locationX>975</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>LoopLineToFindProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>productNotFound</defaultConnectorLabel>
        <rules>
            <name>productFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLineToFindProducts.SBQQ__Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopProductRecords.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>changeQuantityMagazzino</targetReference>
            </connector>
            <label>productFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductsId</name>
        <label>CheckProductsId</label>
        <locationX>717</locationX>
        <locationY>521</locationY>
        <defaultConnectorLabel>IdListIsNull</defaultConnectorLabel>
        <rules>
            <name>IdListIsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productsIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProductsFromQuoteLine</targetReference>
            </connector>
            <label>IdListIsNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductsMagazzino</name>
        <label>CheckProductsMagazzino</label>
        <locationX>1314</locationX>
        <locationY>511</locationY>
        <defaultConnector>
            <targetReference>LoopQuoteLineRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>thereIsNotMagazzino</defaultConnectorLabel>
        <rules>
            <name>IsMagazzino</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopQuoteLineRecords.SBQQ__Product__r.Magazzino__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StoreProductIds</targetReference>
            </connector>
            <label>thereIsMagazzino</label>
        </rules>
    </decisions>
    <formulas>
        <name>calculateQuantity</name>
        <dataType>Number</dataType>
        <expression>IF({!LoopProductRecords.Quantit_Magazzino__c}-{!LoopLineToFindProducts.SBQQ__Quantity__c}&gt;= 0, {!LoopProductRecords.Quantit_Magazzino__c}-{!LoopLineToFindProducts.SBQQ__Quantity__c}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>AggiornaDisponibilitàMagazzino {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - AggiornaDisponibilitàMagazzino</label>
    <loops>
        <name>LoopLineToFindProducts</name>
        <label>LoopLineToFindProducts</label>
        <locationX>744</locationX>
        <locationY>720</locationY>
        <collectionReference>GetQuoteLine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignValueToProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopProductRecords</name>
        <label>LoopProductRecords</label>
        <locationX>476</locationX>
        <locationY>714</locationY>
        <collectionReference>productRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopLineToFindProducts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateProductRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopQuoteLineRecords</name>
        <label>LoopQuoteLineRecords</label>
        <locationX>1054</locationX>
        <locationY>504</locationY>
        <collectionReference>GetQuoteLine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckProductsMagazzino</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckProductsId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetQuoteLine</name>
        <label>GetQuoteLine</label>
        <locationX>740</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopQuoteLineRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <sortField>SBQQ__Product__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProductRecords</name>
        <label>UpdateProductRecords</label>
        <locationX>279</locationX>
        <locationY>707</locationY>
        <inputReference>productsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>614</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetQuoteLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Firmata</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__LineItemCount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>PricebookType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IdR</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>210</triggerOrder>
    <variables>
        <name>productRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>productsIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
