force-app/main/default/flows/Asset_Set_Value_Card_Virtuale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Account_Type</name>
        <label>Account Type</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_User_Web</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business</defaultConnectorLabel>
        <rules>
            <name>Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_From_Asset.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_card_type</targetReference>
            </connector>
            <label>Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_card_type</name>
        <label>Check card type</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Update_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_card_type2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CardType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Asset</targetReference>
            </connector>
            <label>Check card type 2</label>
        </rules>
    </decisions>
    <description>AM - Aggiunta settaggio stato Blocked/Enabled a seconda del cardtype</description>
    <environments>Default</environments>
    <formulas>
        <name>CardType</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.SBQQ__OrderProduct__r.Order.ContractType__c},
&quot;Consumo&quot;,&quot;3&quot;,
&quot;Ricaricabile&quot;,&quot;2&quot;,
&quot;Flat&quot;,&quot;1&quot;,
TEXT({!$Record.CardType__c}))</expression>
    </formulas>
    <formulas>
        <name>CompleteAutonumber</name>
        <dataType>String</dataType>
        <expression>{!Get_Card_Virtuale_Autonumber.Prefix__c} &amp; LPAD(TEXT({!ProgessiveAutonumber}), ROUND({!Get_Card_Virtuale_Autonumber.Total_Length__c}, 0 ), &apos;0&apos; )</expression>
    </formulas>
    <formulas>
        <name>ContactId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.ContactId})),{!$Record.ContactId},IF({!Get_Account_From_Asset.IsPersonAccount},{!Get_Account_From_Asset.PersonContactId},{!Get_User_Web.ContactId}))</expression>
    </formulas>
    <formulas>
        <name>IsUsageEndDateEmpty</name>
        <dataType>Date</dataType>
        <expression>DATE(2039,12,31)</expression>
    </formulas>
    <formulas>
        <name>ProgessiveAutonumber</name>
        <dataType>Number</dataType>
        <expression>If(ISBLANK({!Get_Card_Virtuale_Autonumber.ProgressiveNumber__c}) ,1,{!Get_Card_Virtuale_Autonumber.ProgressiveNumber__c} +1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Asset - Set Value Card Virtuale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset - Set Value Card Virtuale</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_From_Asset</name>
        <label>Get Account From Asset</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Card_Virtuale_Autonumber</name>
        <label>Get Card Virtuale Autonumber</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_From_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parameter_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parameter_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomAutonumber__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Web</name>
        <label>Get User Web</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_card_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Asset</name>
        <label>Copy 1 of Update Asset</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Update_Custom_Settings</targetReference>
        </connector>
        <inputAssignments>
            <field>BrandModel__c</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.BrandModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CardNumber__c</field>
            <value>
                <elementReference>CompleteAutonumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CardType__c</field>
            <value>
                <elementReference>CardType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreditLimit__c</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.CreditLimit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FreePeriodDueDate__c</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.PromoEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDRFID__c</field>
            <value>
                <elementReference>CompleteAutonumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstallDate</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LicencePlate__c</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.LicencePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promotion_Code__c</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.PromoCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResidualCredit__c</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.CreditLimit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UIDRFID__c</field>
            <value>
                <elementReference>CompleteAutonumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageEndDate</field>
            <value>
                <elementReference>IsUsageEndDateEmpty</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Asset</name>
        <label>Copy 2 of Update Asset</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Update_Custom_Settings</targetReference>
        </connector>
        <inputAssignments>
            <field>BrandModel__c</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.BrandModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CardNumber__c</field>
            <value>
                <elementReference>CompleteAutonumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CardType__c</field>
            <value>
                <elementReference>CardType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreditLimit__c</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.CreditLimit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FreePeriodDueDate__c</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.PromoEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDRFID__c</field>
            <value>
                <elementReference>CompleteAutonumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstallDate</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LicencePlate__c</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.LicencePlate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promotion_Code__c</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.PromoCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResidualCredit__c</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.CreditLimit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UIDRFID__c</field>
            <value>
                <elementReference>CompleteAutonumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageEndDate</field>
            <value>
                <elementReference>IsUsageEndDateEmpty</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Custom_Settings</name>
        <label>Update Custom Settings</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Card_Virtuale_Autonumber.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Autonumber__c</field>
            <value>
                <elementReference>CompleteAutonumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgressiveNumber__c</field>
            <value>
                <elementReference>ProgessiveAutonumber</elementReference>
            </value>
        </inputAssignments>
        <object>CustomAutonumber__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Card_Virtuale_Autonumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Card Virtuale</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__OrderProduct__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CardNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
