force-app/main/default/flows/Asset_Upsert_Card_Mobility.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Upsert_Card</name>
        <label>Upsert Card</label>
        <locationX>374</locationX>
        <locationY>528</locationY>
        <actionName>UpsertCardApiController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Response_Code</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>calloutName</name>
            <value>
                <stringValue>UpsertCard</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>card</name>
            <value>
                <elementReference>Tessera</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Card</name>
        <label>Set Card</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>Tessera.asset_cardnumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CardNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_residualcredit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ResidualCredit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_activationdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InstallDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_duedate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UsageEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_vettura</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BrandModel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_targa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LicencePlate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_origine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CardOrigin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_remoteenabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RemoteEnabled__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_uidrfid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UIDRFID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_idrfid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IDRFID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_deactivationdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LifecycleEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_createddate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_modifieddate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_firstname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_lastname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_contractstatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tessera.asset_contactidmobility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.IdMobility__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Card</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Response_Code</name>
        <label>Response Code</label>
        <locationX>374</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Update_Asset_Errore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not 200</defaultConnectorLabel>
        <rules>
            <name>X200_OR_201</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Upsert_Card.ResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Upsert_Card.ResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>201</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_Sincronizzato</targetReference>
            </connector>
            <label>200 OR 201</label>
        </rules>
    </decisions>
    <formulas>
        <name>OrderStatus</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISPICKVAL({!Get_Activated_Contract.SBQQ__Order__r.Status}, &apos;&apos;)),
IF(ISPICKVAL({!Get_Activated_Contract.SBQQ__Order__r.Status}, &quot;Activated&quot;), &apos;1&apos;,&apos;2&apos;),&apos;2&apos;)</expression>
    </formulas>
    <interviewLabel>Asset - Upsert Card Mobility {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OLD__Asset - Upsert Card Mobility</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Activated_Contract</name>
        <label>Get Activated Contract</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Card</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 5 AND (6 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ActiveContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>ContractNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Errore</name>
        <label>Update Asset - Errore</label>
        <locationX>506</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>LastSyncDatetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyncErrorMessage__c</field>
            <value>
                <stringValue>{!Upsert_Card.ResponseCode} - {!Upsert_Card.ResponseMessage}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyncStatus__c</field>
            <value>
                <stringValue>Errore</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_Sincronizzato</name>
        <label>Update Asset - Sincronizzato</label>
        <locationX>242</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>LastSyncDatetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyncErrorMessage__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyncStatus__c</field>
            <value>
                <stringValue>Sincronizzato</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND 10 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 11)</filterLogic>
        <filters>
            <field>CardNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CardNumber__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ResidualCredit__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InstallDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UsageEndDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BrandModel__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LicencePlate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LifecycleEndDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SyncStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RemoteEnabled__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Activated_Contract</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Tessera</name>
        <apexClass>VIR_Tessere</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
