force-app/main/default/flows/Billing_Profile_Connect_Billing_Profile_Amministratore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignIdBillingAmm</name>
        <label>AssignIdBillingAmm</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Profile_Amministratore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetBillingParent.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignTypeAccount</name>
        <label>AssignTypeAccount</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>TypeAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId__r.FormaAnagrafica__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionAccountCondominio</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecisionAccountCondominio</name>
        <label>DecisionAccountCondominio</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>AccountKO</defaultConnectorLabel>
        <rules>
            <name>AccountOK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TypeAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONDOMINIO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONDOMINIA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId__r.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetBillingParent</targetReference>
            </connector>
            <label>AccountOK</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Billing Profile - Connect Billing Profile Amministratore {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Profile - Connect Billing Profile Amministratore</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetBillingParent</name>
        <label>GetBillingParent</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignIdBillingAmm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__r.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DefaultBillingProfile__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BillingProfile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignTypeAccount</targetReference>
        </connector>
        <object>BillingProfile__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BillingAmministratoreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
