force-app/main/default/flows/Billing_Profile_UpgradeMandatoNumberOnPaymentMethodSDD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Copy_1_of_set_Numero_Mandato</name>
        <label>set Numero Mandato</label>
        <locationX>490</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>get_Payment_Method.MandateCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumeroMandatoBaslab</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Payment_Method.MandateSubscriptionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Payment_Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Numero_Mandato</name>
        <label>set Numero Mandato</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>get_Payment_Method.MandateCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumeroMandatoMob</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Payment_Method.MandateSubscriptionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment_Method</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_Company_Baslab</name>
        <label>is Company Baslab?</label>
        <locationX>776</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_03</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Numero_Mandato_Baslab</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Configuration_found</name>
        <label>is Configuration found?</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Numero_Mandato</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Numero_Mandato</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_configuration_found_2</name>
        <label>is configuration found?</label>
        <locationX>622</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Numero_Mandato_Baslab</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_set_Numero_Mandato</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Mobility</name>
        <label>is Mobility?</label>
        <locationX>479</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>is_Company_Baslab</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Numero_Mandato</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>addProgressiveNumberBasLab</name>
        <dataType>Number</dataType>
        <expression>{!get_Numero_Mandato_Baslab.ProgressiveNumber__c} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AddProgressiveNumberMob</name>
        <dataType>Number</dataType>
        <expression>{!get_Numero_Mandato.ProgressiveNumber__c} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NumeroMandatoBaslab</name>
        <dataType>String</dataType>
        <expression>{!get_Numero_Mandato_Baslab.Prefix__c} &amp; LPAD(TEXT(({!get_Numero_Mandato_Baslab.ProgressiveNumber__c} +1 )), ROUND({!get_Numero_Mandato_Baslab.Total_Length__c}, 0 ), &apos;0&apos; )</expression>
    </formulas>
    <formulas>
        <name>NumeroMandatoMob</name>
        <dataType>String</dataType>
        <expression>{!get_Numero_Mandato.Prefix__c} &amp; LPAD(TEXT(({!get_Numero_Mandato.ProgressiveNumber__c} +1 )), ROUND({!get_Numero_Mandato.Total_Length__c}, 0 ), &apos;0&apos; )</expression>
    </formulas>
    <interviewLabel>Billing Profile - UpgradeMandatoNumberOnPaymentMethodSDD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Profile - UpgradeMandatoNumberOnPaymentMethodSDD</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Numero_Mandato</name>
        <label>get Numero Mandato</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Configuration_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Numero Mandato</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomAutonumber__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Numero_Mandato_Baslab</name>
        <label>get Numero Mandato Baslab</label>
        <locationX>622</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_configuration_found_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Numero Mandato Baslab</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomAutonumber__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Payment_Method</name>
        <label>get Payment Method</label>
        <locationX>479</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Mobility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PaymentMethod__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__PaymentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__PaymentMethod__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Quote</name>
        <label>get Quote</label>
        <locationX>479</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Payment_Method</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Profile__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Custom_Settings</name>
        <label>Copy 1 of Update Custom Settings</label>
        <locationX>490</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Numero_Mandato_Baslab.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Autonumber__c</field>
            <value>
                <elementReference>NumeroMandatoBaslab</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgressiveNumber__c</field>
            <value>
                <elementReference>addProgressiveNumberBasLab</elementReference>
            </value>
        </inputAssignments>
        <object>CustomAutonumber__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Payment_Method</name>
        <label>Update Payment Method</label>
        <locationX>490</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Custom_Settings</targetReference>
        </connector>
        <inputReference>get_Payment_Method</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Custom_Settings</name>
        <label>Update Custom Settings</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Numero_Mandato.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Autonumber__c</field>
            <value>
                <elementReference>NumeroMandatoMob</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgressiveNumber__c</field>
            <value>
                <elementReference>AddProgressiveNumberMob</elementReference>
            </value>
        </inputAssignments>
        <object>CustomAutonumber__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_Method</name>
        <label>Update Payment Method</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Custom_Settings</targetReference>
        </connector>
        <inputReference>get_Payment_Method</inputReference>
    </recordUpdates>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PaymentMethod__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>BillingProfile__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
