force-app/main/default/flows/Check_Provider_in_CPO_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Picklist_values</name>
        <label>Get_Picklist_values</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>Get_Picklist_values</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Picklist_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>InputData</name>
            <value>
                <elementReference>Input</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_input_list</name>
        <label>Set input list</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Input</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PpuPricebookEntry__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CPO__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Picklist_values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Value_Found</name>
        <label>Value Found</label>
        <locationX>396</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Loop_Picklist_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Value_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Picklist_Values</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Provider__c</elementReference>
                </rightValue>
            </conditions>
            <label>Yes Value Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Check Provider in CPO List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Provider in CPO List</label>
    <loops>
        <name>Loop_Picklist_Values</name>
        <label>Loop Picklist Values</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Picklist_values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Value_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>176</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.blng__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Interna</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>CPO non censito</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>CPO non censito</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usage__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_input_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__StartDateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>kWh</stringValue>
            </value>
        </filters>
        <object>blng__Usage__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Input</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValueFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
