force-app/main/default/flows/CloneShippingAddressOnAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assignAddressForBusiness</name>
        <label>assignAddressForBusiness</label>
        <locationX>560</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>addressToClone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addressToClone.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addressToClone.DefaultAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addressToClone.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addressToClone.DatamaxId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsertShippingAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAddressForPerson</name>
        <label>assignAddressForPerson</label>
        <locationX>559</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>addressToClone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addressToClone.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addressToClone.DefaultAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addressToClone.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addressToClone.DatamaxId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsertShippingAddress</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkAccountRecordType</name>
        <label>checkAccountRecordType</label>
        <locationX>293</locationX>
        <locationY>380</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPerson</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignAddressForPerson</targetReference>
            </connector>
            <label>isPerson</label>
        </rules>
        <rules>
            <name>isBusiness</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignAddressForBusiness</targetReference>
            </connector>
            <label>isBusiness</label>
        </rules>
    </decisions>
    <description>Modified flow&apos;s start condition</description>
    <environments>Default</environments>
    <interviewLabel>CloneShippingAddressOnAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Address - CloneShippingAddressOnAccount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsertShippingAddress</name>
        <label>InsertShippingAddress</label>
        <locationX>723</locationX>
        <locationY>371</locationY>
        <inputReference>addressToClone</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>checkAccountRecordType</targetReference>
        </connector>
        <filterFormula>AND(
{!$Record.AccountId__c} &lt;&gt; null,
OR(ISPICKVAL({!$Record.Type__c}, &apos;8&apos;), ISPICKVAL({!$Record.Type__c},&apos;9&apos;)),
NOT(ISPICKVAL({!$Record.AccountId__r.FormaAnagrafica__c},&apos;CONDOMINIO&apos;)),
NOT(ISPICKVAL({!$Record.AccountId__r.FormaAnagrafica__c},&apos;CONDOMINIA&apos;))
)</filterFormula>
        <object>Address__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>addressToClone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
</Flow>
