force-app/main/default/flows/Conga_Sign_Transaction_Set_Create_Document_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>PriceBookTypeCheck</name>
        <label>PriceBookTypeCheck</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mobilty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetQuote.PricebookType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IdR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetQuote.PricebookType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SdR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusCheck</targetReference>
            </connector>
            <label>Mobilty</label>
        </rules>
        <rules>
            <name>Efficienza_Energetica</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetQuote.PricebookType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EEim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetQuote.PricebookType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EEin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.APXT_CongaSign__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMPLETE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote</targetReference>
            </connector>
            <label>Efficienza Energetica</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusCheck</name>
        <label>StatusCheck</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_CongaSign__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMPLETE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateQuoteComlete</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
        <rules>
            <name>Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_CongaSign__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DECLINED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateQuoteMobility</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
    </decisions>
    <description>Aggiorno il print document della quote dopo che il documento è stato formato</description>
    <environments>Default</environments>
    <interviewLabel>Conga Sign Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conga Sign Transaction - Set Create Document Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetQuote</name>
        <label>GetQuote</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PriceBookTypeCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_a0z__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Aggiorno lo stato della quote quando il documento è stato firmato</description>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_a0z__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Print_Document__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQuoteComlete</name>
        <label>UpdateQuoteComlete</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_a0z__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQuoteMobility</name>
        <label>UpdateQuoteMobility</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_a0z__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>4</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetQuote</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>APXT_CongaSign__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMPLETE</stringValue>
            </value>
        </filters>
        <filters>
            <field>APXT_CongaSign__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DECLINED</stringValue>
            </value>
        </filters>
        <object>APXT_CongaSign__Transaction__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
