force-app/main/default/flows/Contract_Set_Billing_Profile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Order_To_List</name>
        <label>Add Order To List</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>OrderToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sub_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Profile_To_Order</name>
        <label>Assign Billing Profile To Order</label>
        <locationX>358</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>OrderTemp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sub_Loop.SBQQ__OrderProduct__r.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderTemp.Billing_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Profile__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Already_Added_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Billing_Profile_Changed</name>
        <label>Billing Profile Changed?</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Profile__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Order__r.Billing_Profile__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Subscriptions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Billing_Profile</name>
        <label>Check Order Billing Profile</label>
        <locationX>534</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Sub_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Billing_Profile_Is_Not_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sub_Loop.SBQQ__OrderProduct__r.Order.Billing_Profile__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Billing_Profile__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sub_Loop.SBQQ__OrderProduct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sub_Loop.SBQQ__OrderProduct__r.OrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Profile_To_Order</targetReference>
            </connector>
            <label>Billing Profile Is Not Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_To_Update_Orders</name>
        <label>Need To Update Orders?</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UpdateOrders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Orders</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Already_Added_to_List</name>
        <label>Order Already Added to List?</label>
        <locationX>358</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Add_Order_To_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderToUpdate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>OrderTemp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Contract - Set Billing Profile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Set Billing Profile</label>
    <loops>
        <name>Sub_Loop</name>
        <label>Sub Loop</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Related_Subscriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Order_Billing_Profile</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Need_To_Update_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Subscriptions</name>
        <label>Get Related Subscriptions</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sub_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Orders</name>
        <label>Update Orders</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <inputReference>OrderToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Billing_Profile_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
