force-app/main/default/flows/Contract_Set_Billing_Profile_Contract_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Billing_Profile</name>
        <label>Set Billing Profile</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Billing_Profile__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipologia_Contratto_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Profile_0</name>
        <label>Set Billing Profile</label>
        <locationX>578</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Billing_Profile__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Profile_on_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Type</name>
        <label>Set Contract Type</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContractType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.ContractType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Profile_Empty_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Billing_Profile</name>
        <label>Set Default Billing Profile</label>
        <locationX>842</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Billing_Profile.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Tipologia_Contratto</name>
        <label>Set Tipologia Contratto</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContractType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.ContractType__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Billing_Profile_Empty</name>
        <label>Billing Profile Empty?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Tipologia_Contratto_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Profile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Profile</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Profile_Empty_0</name>
        <label>Billing Profile Empty?</label>
        <locationX>710</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Billing_Profile_on_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BP_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Profile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Profile_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Profile_on_Order</name>
        <label>Billing Profile on Order</label>
        <locationX>710</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Billing_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There isn&apos;t</defaultConnectorLabel>
        <rules>
            <name>There_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Order__r.Billing_Profile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>There is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Tipologia_Contratto</name>
        <label>Check Order Tipologia Contratto</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Order_Contract_Type_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Servizi_di_Ricarica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Order__r.ContractType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servizi_di_Ricarica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Order__r.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Profile_Empty</targetReference>
            </connector>
            <label>Servizi di Ricarica</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Contract_Type_empty</name>
        <label>Order Contract Type empty?</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Billing_Profile_Empty_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Order__r.ContractType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_Type</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipologia_Contratto_Empty</name>
        <label>Tipologia Contratto Empty</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_TC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContractType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tipologia_Contratto</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Contract - Set Billing Profile &amp; Contract Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Set Billing Profile &amp; Contract Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Default_Billing_Profile</name>
        <label>Get Default Billing Profile</label>
        <locationX>842</locationX>
        <locationY>1223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Default_Billing_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DefaultBillingProfile__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BillingProfile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Order_Tipologia_Contratto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
