force-app/main/default/flows/Contract_Cancel_Old_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Hold_Billing_Order_Product</name>
        <label>Set Hold Billing Order Product</label>
        <locationX>270</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>Loop_For_Older_Product.blng__HoldBilling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_OrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_For_Older_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_Older_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Asset_Blocked</name>
        <label>Set Status Asset - Blocked</label>
        <locationX>270</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>OldAsset.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_Older_Product.SBQQ__Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Product_Billed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_Empty</name>
        <label>Asset Empty?</label>
        <locationX>182</locationX>
        <locationY>2159</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_AssetEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OldAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Asset</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Product_Billed</name>
        <label>Order Product Billed?</label>
        <locationX>402</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Loop_For_Older_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BillOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_For_Older_Product.blng__HoldBilling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hold_Billing_Order_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Products_Collection_Empty</name>
        <label>Order Products Collection Empty?</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Asset_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_OrderProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Old_OrderProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Older_Order_Products</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_To_Asset</name>
        <label>Related To Asset?</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Order_Product_Billed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CardVirtuale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_For_Older_Product.SBQQ__Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_For_Older_Product.SBQQ__Asset__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Asset_Blocked</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_are_older_Contract</name>
        <label>There are older Contract?</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Older_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Older_Contract.SBQQ__Order__r.SBQQ__Quote__r.Tipologia_Contratto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Older_Contract.SBQQ__Order__r.SBQQ__Quote__r.Tipologia_Contratto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Older_Contract_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Contract - Cancel Old Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OLD__Contract - Cancel Old Contracts</label>
    <loops>
        <name>Loop_For_Older_Product</name>
        <label>Loop For Older Product</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_Older_Order_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Related_To_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Order_Products_Collection_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Older_Contract</name>
        <label>Get Older Contract</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_are_older_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>ContractNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Older_Order_Product</name>
        <label>Get Older Order Product</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_Older_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Older_Contract.SBQQ__Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Old_Asset</name>
        <label>Update Old Asset</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <inputReference>OldAsset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Older_Contract_0</name>
        <label>Update Older Contract</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Older_Status_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Older_Contract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Older_Order_Products</name>
        <label>Update Old Order Products</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>Asset_Empty</targetReference>
        </connector>
        <inputReference>Old_OrderProducts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Older_Status_0</name>
        <label>Update Older Status</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_Older_Order_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Older_Contract.SBQQ__Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Older_Contract</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Old_OrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OldAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>OlderContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>OlderOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
