force-app/main/default/flows/Contact_Open_Case_From_Web.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Field_Change_Birthdate</name>
        <label>Set Field Change Birthdate</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_Birthdate.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Birthdate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Birthdate.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Birthdate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Birthdate.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Birthdate.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Birthdate.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_Birthdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_ComuneNascita</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_ComuneNascita</name>
        <label>Set Field Change ComuneNascita</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_ComuneNascita.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IDComuneNascita__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_ComuneNascita.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Comune di Nascita</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_ComuneNascita.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_ComuneNascita.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IDComuneNascita__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_ComuneNascita.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_ComuneNascita</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_TipoDocumento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_DataRilascioDocumento</name>
        <label>Set Field Change DataRilascioDocumento</label>
        <locationX>50</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_DataRilascioDocumento.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DocDataRilascio__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_DataRilascioDocumento.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Data Rilascio Documento</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_DataRilascioDocumento.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_DataRilascioDocumento.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DocDataRilascio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_DataRilascioDocumento.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_DataRilascioDocumento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_DataScadenzaDocumento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_DataScadenzaDocumento</name>
        <label>Set Field Change DataScadenzaDocumento</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_DataScadenzaDocumento.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DocDataScadenza__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_DataScadenzaDocumento.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Data Scadenza Documento</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_DataScadenzaDocumento.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_DataScadenzaDocumento.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DocDataScadenza__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_DataScadenzaDocumento.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_DataScadenzaDocumento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_FieldChange_Not_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_DocumentoRilasciatoDa</name>
        <label>Set Field Change DocumentoRilasciatoDa</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_DocumentoRilasciatoDa.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DocRilasciatoDa__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_DocumentoRilasciatoDa.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documento Rilasciato Da</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_DocumentoRilasciatoDa.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_DocumentoRilasciatoDa.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DocRilasciatoDa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_DocumentoRilasciatoDa.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_DocumentoRilasciatoDa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_DataRilascioDocumento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_FirstName</name>
        <label>Set Field Change FirstName</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_FirstName.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FirstName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_FirstName.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nome</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_FirstName.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_FirstName.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_FirstName.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_LastName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_Gender</name>
        <label>Set Field Change Gender</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_Gender.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gender__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Gender.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sesso</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Gender.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Gender.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_Gender.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_Gender</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_FirstName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_LastName</name>
        <label>Set Field Change LastName</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_LastName.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LastName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_LastName.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cognome</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_LastName.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_LastName.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_LastName.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_LuogoNascita</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_LuogoNascita</name>
        <label>Set Field Change LuogoNascita</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_LuogoNascita.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NascitaLuogo__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_LuogoNascita.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Luogo di Nascita</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_LuogoNascita.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_LuogoNascita.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NascitaLuogo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_LuogoNascita.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_LuogoNascita</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_ProvinciaNascita</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_NumeroDocumento</name>
        <label>Set Field Change NumeroDocumento</label>
        <locationX>50</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_NumeroDocumento.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DocNumero__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_NumeroDocumento.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Numero Documento</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_NumeroDocumento.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_NumeroDocumento.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DocNumero__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_NumeroDocumento.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_NumeroDocumento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_DocumentoRilasciatoDa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_ProvinciaNascita</name>
        <label>Set Field Change ProvinciaNascita</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_ProvinciaNascita.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NascitaProvincia__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_ProvinciaNascita.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Provincia di Nascita</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_ProvinciaNascita.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_ProvinciaNascita.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NascitaProvincia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_ProvinciaNascita.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_ProvinciaNascita</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_Birthdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Change_TipoDocumento</name>
        <label>Set Field Change TipoDocumento</label>
        <locationX>50</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>FieldChange_TipoDocumento.ApiName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DocTipo__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_TipoDocumento.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tipo Documento</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_TipoDocumento.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_TipoDocumento.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DocTipo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChange_TipoDocumento.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseFromAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FieldChange_TipoDocumento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Change_NumeroDocumento</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_FieldChange_Not_Blank</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter FieldChange Not Blank</label>
        <locationX>50</locationX>
        <locationY>2015</locationY>
        <assignNextValueToReference>currentItem_Filter_FieldChange_Not_Blank</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>FieldChangeList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_FieldChange_Not_Blank.Value__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_FieldChange_Not_Blank.Value__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue></stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Create_Field_Change_Records</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Account_Created_From_Web</name>
        <label>Account Created From Web?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.OpenCaseFromWeb__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseFromAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Open Case From Web</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Field_Change_Records</name>
        <label>Create Field Change Records</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <inputReference>Filter_FieldChange_Not_Blank</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCaseFromAccount</name>
        <label>GetCaseFromAccount</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Field_Change_Gender</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Richiesta Aggiornamento Anagrafica</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Created_From_Web</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_FieldChange_Not_Blank</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_Birthdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_ComuneNascita</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_DataRilascioDocumento</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_DataScadenzaDocumento</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_DocumentoRilasciatoDa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_FirstName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_Gender</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_LastName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_LuogoNascita</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_NumeroDocumento</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_ProvinciaNascita</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChange_TipoDocumento</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
    <variables>
        <name>FieldChangeList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldChange__c</objectType>
    </variables>
</Flow>
