force-app/main/default/flows/Contract_Update_Card_Type_on_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <formulas>
        <name>CardType</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.SBQQ__Order__r.ContractType__c},
&quot;Consumo&quot;,&quot;3&quot;,
&quot;Ricaricabile&quot;,&quot;2&quot;,
&quot;Flat&quot;,&quot;1&quot;,
&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Contract - Update Card Type on Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Update Card Type on Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_Related_To_Account</name>
        <label>Get Asset Related To Account</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <sortField>CardNumber__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Related_To_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CardType__c</field>
            <value>
                <elementReference>CardType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreditLimit__c</field>
            <value>
                <elementReference>$Record.SBQQ__Order__r.CreditLimit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promotion_Code__c</field>
            <value>
                <elementReference>$Record.SBQQ__Order__r.PromoCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResidualCredit__c</field>
            <value>
                <elementReference>$Record.SBQQ__Order__r.CreditLimit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>kWhConsumatiMese__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Related_To_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContractType__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContractType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Servizi_di_Ricarica</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
