force-app/main/default/flows/Create_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_User_Request</name>
        <label>Create User Request</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <actionName>IdentityServerApiController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Response_Code</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>calloutName</name>
            <value>
                <stringValue>CreateUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serializedParams</name>
            <value>
                <elementReference>IdentityServerRequest</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Fleet_Manager_Param</name>
        <label>Set Fleet Manager Param</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>IdentityServerRequest.isReportEnabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_User_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OrderItem_Product_ID</name>
        <label>Set OrderItem/Product ID</label>
        <locationX>138</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>ProductID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Prodotto_Principale.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Prodotto_Principale.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Prodotto_Principale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Params_For_Callout</name>
        <label>Set Params For Callout</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>IdentityServerRequest.nome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdentityServerRequest.cognome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdentityServerRequest.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdentityServerRequest.username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Username__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdentityServerRequest.scadenza</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Scadenza__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdentityServerRequest.account_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Fleet_Manager</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Fleet_Manager</name>
        <label>Is Fleet Manager?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Create_User_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FleetManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.FleetContactType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MNG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fleet_Manager_Param</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Product</name>
        <label>Prodotto Principale?</label>
        <locationX>270</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>Find_Prodotto_Principale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Prodotto_Principale.Product2.Prodotto_principale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OrderItem_Product_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Response_Code</name>
        <label>Response Code</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Operation_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>400</defaultConnectorLabel>
        <rules>
            <name>X200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_User_Request.code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>200</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stop_Subflow</name>
        <label>Stop Subflow?</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StopFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Crea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create User</label>
    <loops>
        <name>Find_Prodotto_Principale</name>
        <label>Find Prodotto Principale</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <collectionReference>Get_Order_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Main_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Card_Virtuale</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Card_Virtuale</name>
        <label>Insert Card Virtuale</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Operation_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CardType__c</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Card Virtuale</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>ProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OrderProduct__c</field>
            <value>
                <elementReference>OrderProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Contract</name>
        <label>Get Active Contract</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>ContractNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Params_For_Callout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product</name>
        <label>Get Order Product</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Prodotto_Principale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_Contract.SBQQ__Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Get_Active_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IdMobility__c</field>
            <value>
                <elementReference>Create_User_Request.idMobility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdSub__c</field>
            <value>
                <elementReference>Create_User_Request.idSub</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsernameVerified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Operation_Failed</name>
        <label>Operation Failed</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Operation_Failed_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Operation_Failed_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Operation_Failed_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>badge_cancel</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>badge_cancel</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Operation_Failed_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Failed</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;﻿Operazione Fallita!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Create_User_Request.ResponseMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Operation_Failed_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Operation_Success</name>
        <label>Operation Success</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Operation_Success_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Operation_Success_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Operation_Success_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>badge_verified</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>badge_verified</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>100px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>100px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Operation_Success_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Success</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Operazione riuscita con successo!&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Operation_Success_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verifica_Username</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Verifica_Username</name>
        <label>Verifica Username</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Stop_Subflow</targetReference>
        </connector>
        <flowName>Verifica_Username</flowName>
        <inputAssignments>
            <name>IsSubflow</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>StopFlow</assignToReference>
            <name>StopFlow</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CalloutParams</name>
        <apexClass>CalloutFlowParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdentityServerRequest</name>
        <apexClass>IdentityServerParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Param_0</name>
        <apexClass>CalloutFlowParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Param_1</name>
        <apexClass>CalloutFlowParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Param_2</name>
        <apexClass>CalloutFlowParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Param_3</name>
        <apexClass>CalloutFlowParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Param_4</name>
        <apexClass>CalloutFlowParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Param_5</name>
        <apexClass>CalloutFlowParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StopFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
