force-app/main/default/flows/Credit_Note_Line_Set_Vat_Code_and_Natura_SDI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Product_Name</name>
        <label>Set Product Name</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__ProductName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__InvoiceLine__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tax_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Vat_Code_Natura_SDI</name>
        <label>Set Vat Code-Natura SDI</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.VATCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tax_Rate.VATCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NaturaSDI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tax_Rate.NaturaSDI__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Tax_Rate_found</name>
        <label>Tax Rate found</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tax_Rate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Vat_Code_Natura_SDI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Credit Note Line - Set Vat Code and Natura SDI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Note Line - Set Vat Code and Natura SDI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Tax_Rate</name>
        <label>Get Tax Rate</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tax_Rate_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__TaxCountry__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__TaxRate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Product_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__TaxCountry__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>blng__CreditNoteLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
