force-app/main/default/flows/Credit_Note_Set_export_status_on_lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Line_to_collection</name>
        <label>Add Line to collection</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CreditNoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Export_status</name>
        <label>Set Export status</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Loop_lines.ExportStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lines_found</name>
        <label>Lines found</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Note_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_lines</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Credit Note - Set export status on lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Note - Set export status on lines</label>
    <loops>
        <name>Loop_lines</name>
        <label>Loop lines</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Credit_Note_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Export_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Credit_Note_Lines</name>
        <label>Get Credit Note Lines</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lines_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__CreditNote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExportStatus__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__TaxPercentageApplied__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__CreditNoteLine__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExportStatus__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lines</name>
        <label>Update Lines</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>CreditNoteLines</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Credit_Note_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <object>blng__CreditNote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CreditNoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__CreditNoteLine__c</objectType>
    </variables>
</Flow>
