force-app/main/default/flows/Gestione_Indirizzo_Sede_Legale_Condominio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>246</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>FinishText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finish</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Indirizzo_Trovato</name>
        <label>Indirizzo Trovato?</label>
        <locationX>584</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>GetAccConRelationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non trovato</defaultConnectorLabel>
        <rules>
            <name>Trovato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Indirizzo_Amministratore.AccountId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ParentId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Indirizzo_Amministratore.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Indirizzo_Condominio</targetReference>
            </connector>
            <label>Trovato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Indirizzo_Trovato_2</name>
        <label>Indirizzo Trovato 2?</label>
        <locationX>386</locationX>
        <locationY>743</locationY>
        <defaultConnector>
            <targetReference>Insert_Indirizzo_Condominio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Trovato 2</defaultConnectorLabel>
        <rules>
            <name>Trovato_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Indirizzo_Condominio.AccountId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Indirizzo_Condominio.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Indirizzo_Condominio</targetReference>
            </connector>
            <label>Trovato 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsertDelete</name>
        <label>InsertDelete</label>
        <locationX>647</locationX>
        <locationY>1559</locationY>
        <defaultConnector>
            <targetReference>ForRelationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForRelationship.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRelationship</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForRelationship.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ParentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertRelationship</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Gestione Indirizzo Sede Legale Condominio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Gestione Indirizzo Sede Legale Condominio</label>
    <loops>
        <name>ForRelationship</name>
        <label>ForRelationship</label>
        <locationX>652</locationX>
        <locationY>1081</locationY>
        <collectionReference>GetAccConRelationship</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InsertDelete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finish</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Indirizzo_Condominio</name>
        <label>Insert Indirizzo Condominio</label>
        <locationX>465</locationX>
        <locationY>895</locationY>
        <connector>
            <targetReference>GetAccConRelationship</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Indirizzo_Amministratore.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_Indirizzo_Amministratore.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province__c</field>
            <value>
                <elementReference>Get_Indirizzo_Amministratore.Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StreetName__c</field>
            <value>
                <elementReference>Get_Indirizzo_Amministratore.StreetName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StreetNumber__c</field>
            <value>
                <elementReference>Get_Indirizzo_Amministratore.StreetNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>9</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZipCode__c</field>
            <value>
                <elementReference>Get_Indirizzo_Amministratore.ZipCode__c</elementReference>
            </value>
        </inputAssignments>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>InsertRelationship</name>
        <label>InsertRelationship</label>
        <locationX>437</locationX>
        <locationY>1385</locationY>
        <connector>
            <targetReference>ForRelationship</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ForRelationship.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <stringValue>RL</stringValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteRelationship</name>
        <label>DeleteRelationship</label>
        <locationX>855</locationX>
        <locationY>1384</locationY>
        <connector>
            <targetReference>ForRelationship</targetReference>
        </connector>
        <inputReference>ForRelationship</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Indirizzo_Amministratore</name>
        <label>Get Indirizzo Amministratore</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Indirizzo_Trovato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Indirizzo_Condominio</name>
        <label>Get Indirizzo Condominio</label>
        <locationX>386</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Indirizzo_Trovato_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccConRelationship</name>
        <label>GetAccConRelationship</label>
        <locationX>897</locationX>
        <locationY>943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForRelationship</targetReference>
        </connector>
        <filterLogic>2 AND (1 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RL</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Indirizzo_Condominio</name>
        <label>Update Indirizzo Condominio</label>
        <locationX>157</locationX>
        <locationY>931</locationY>
        <connector>
            <targetReference>GetAccConRelationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Indirizzo_Condominio.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Indirizzo_Amministratore.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_Indirizzo_Amministratore.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province__c</field>
            <value>
                <elementReference>Get_Indirizzo_Amministratore.Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StreetName__c</field>
            <value>
                <elementReference>Get_Indirizzo_Amministratore.StreetName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StreetNumber__c</field>
            <value>
                <elementReference>Get_Indirizzo_Amministratore.StreetNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZipCode__c</field>
            <value>
                <elementReference>Get_Indirizzo_Amministratore.ZipCode__c</elementReference>
            </value>
        </inputAssignments>
        <object>Address__c</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Indirizzo_Amministratore</targetReference>
        </connector>
        <filterFormula>AND(OR(AND(ISNEW(), NOT(ISBLANK({!$Record.ParentId}))), AND(NOT(ISNEW()), ISCHANGED({!$Record.ParentId}))), OR(ISPICKVAL({!$Record.FormaAnagrafica__c}, &apos;CONDOMINIO&apos;), ISPICKVAL({!$Record.FormaAnagrafica__c}, &apos;CONDOMINIA&apos;)))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccContRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>FinishText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
