force-app/main/default/flows/Invoice_Number_Generation_Splitted_For_PriceBook_Area.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_parameter_value</name>
        <label>Set parameter value</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ParameterValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__Order__r.Pricebook2.Area__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Invoice_Progressive_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_parameter_value_0</name>
        <label>Set parameter value</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ParameterValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Line.blng__OrderProduct__r.Order.Pricebook2.Area__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Invoice_Progressive_Number</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Order_Related</name>
        <label>Order Related?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Invoice_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_parameter_value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Modifica considerando che la lookup dell&apos;order può essere vuota</description>
    <formulas>
        <name>CalculatedInvoiceNumber</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT({!CurrentInvoiceNumber}), 8, &apos;0&apos; )</expression>
    </formulas>
    <formulas>
        <name>CurrentInvoiceNumber</name>
        <dataType>Number</dataType>
        <expression>If(ISBLANK({!Get_Invoice_Progressive_Number.ProgressiveNumber__c}) ,1,{!Get_Invoice_Progressive_Number.ProgressiveNumber__c} +1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Invoice Number Generation Splitted For PriceBook Area {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OLD__Invoice - Invoice Number Generation Splitted For PriceBook Area</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Recuperiamo la prima invoice line legata all&apos;invoice
così da accedere al pricebook legato all&apos;ordine passando per l&apos;invoice line</description>
        <name>Get_Invoice_Line</name>
        <label>Get Invoice Line</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_parameter_value_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Progressive_Number</name>
        <label>Get Invoice Progressive Number</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateInvoiceRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parameter_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Area__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parameter_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParameterValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomAutonumber__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Progressive_Number_Custom_Settings</name>
        <label>Update Invoice Progressive Number Custom Settings</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice_Progressive_Number.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Autonumber__c</field>
            <value>
                <elementReference>CalculatedInvoiceNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgressiveNumber__c</field>
            <value>
                <elementReference>CurrentInvoiceNumber</elementReference>
            </value>
        </inputAssignments>
        <object>CustomAutonumber__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInvoiceRecord</name>
        <label>UpdateInvoiceRecord</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Update_Invoice_Progressive_Number_Custom_Settings</targetReference>
        </connector>
        <inputAssignments>
            <field>Progressivo_fattura__c</field>
            <value>
                <elementReference>CalculatedInvoiceNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Order_Related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Progressivo_fattura__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ParameterValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
