force-app/main/default/flows/Invoice_Add_Invoice_Line_Bollo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Tax_Country_Account_Region</name>
        <label>Set Tax Country - Account Region</label>
        <locationX>182</locationX>
        <locationY>2400</locationY>
        <assignmentItems>
            <assignToReference>TaxCountry</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.blng__Account__r.AccountRegion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tax_Treatment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Country_Account_RT</name>
        <label>Set Tax Country - Account RT</label>
        <locationX>314</locationX>
        <locationY>2184</locationY>
        <assignmentItems>
            <assignToReference>TaxCountry</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.blng__Account__r.RecordType.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxCountry</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Tax_Country_Account_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Country_PA</name>
        <label>Set Tax Country - PA</label>
        <locationX>50</locationX>
        <locationY>2184</locationY>
        <assignmentItems>
            <assignToReference>TaxCountry</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxCountry</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Tax_Country_Account_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Country_Tipologia</name>
        <label>Set Tax Country - Tipologia</label>
        <locationX>182</locationX>
        <locationY>1944</locationY>
        <assignmentItems>
            <assignToReference>TaxCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Bollo.VATManagementType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxCountry</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Account_PA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Total_Amount</name>
        <label>Sum Total Amount</label>
        <locationX>946</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Invoice_Line_E15.blng__TotalAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Invoice_Line_E15</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Invoice_Bollo_Already_Added</name>
        <label>Check Invoice Bollo Already Added</label>
        <locationX>1264</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Update_Invoice_Posted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Added</defaultConnectorLabel>
        <rules>
            <name>Not_Yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Line_Bollo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice_Line_E15</targetReference>
            </connector>
            <label>Not Yet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_PA</name>
        <label>Is Account PA?</label>
        <locationX>182</locationX>
        <locationY>2064</locationY>
        <defaultConnector>
            <targetReference>Set_Tax_Country_Account_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Account__r.FormaAnagrafica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Account__r.Nation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tax_Country_PA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Exist</name>
        <label>Price Exist?</label>
        <locationX>380</locationX>
        <locationY>1704</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Price</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Legal_Entity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Exist</name>
        <label>Product Exist?</label>
        <locationX>611</locationX>
        <locationY>1464</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Bollo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Status</name>
        <label>Run Status</label>
        <locationX>1449</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Not Completed</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__InvoiceRunCreatedBy__r.blng__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice_Line_Bollo</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_are_invoice_Line</name>
        <label>There are invoice Line?</label>
        <locationX>1070</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Update_Invoice_Posted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Line_E15</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Invoice_Line_E15</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Total_Amount_Result</name>
        <label>Total Amount Result</label>
        <locationX>858</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Update_Invoice_Posted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less Than or Equal 77,47</defaultConnectorLabel>
        <rules>
            <name>Greater_Than_77_47</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>77.47</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Bollo</targetReference>
            </connector>
            <label>Greater Than 77,47</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>CASE({!$Record.blng__Order__r.Billing_Profile__r.PaymentConditions__c},&apos;100&apos;,0,&apos;4&apos;,20,&apos;0&apos;,30,&apos;112&apos;,60,0)+{!$Record.blng__InvoiceDate__c}</expression>
    </formulas>
    <interviewLabel>Invoice - Add Invoice Line Bollo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice - Add Invoice Line Bollo</label>
    <loops>
        <name>Loop_Invoice_Line_E15</name>
        <label>Loop Invoice Line E15</label>
        <locationX>858</locationX>
        <locationY>888</locationY>
        <collectionReference>Get_Invoice_Line_E15</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Total_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Total_Amount_Result</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Invoice_Line_BOLLO</name>
        <label>Insert Invoice Line BOLLO</label>
        <locationX>182</locationX>
        <locationY>2640</locationY>
        <connector>
            <targetReference>Update_Invoice_Posted</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Product_Bollo.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingFrequency__c</field>
            <value>
                <elementReference>Get_Product_Bollo.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingRule__c</field>
            <value>
                <elementReference>Get_Product_Bollo.blng__BillingRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__ChargeDate__c</field>
            <value>
                <elementReference>$Record.blng__InvoiceDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__ChargeType__c</field>
            <value>
                <elementReference>Get_Product_Bollo.SBQQ__ChargeType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__EndDate__c</field>
            <value>
                <elementReference>$Record.blng__InvoiceDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__LegalEntity__c</field>
            <value>
                <elementReference>Get_Legal_Entity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Product__c</field>
            <value>
                <elementReference>Get_Product_Bollo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__StartDate__c</field>
            <value>
                <elementReference>$Record.blng__InvoiceDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Subtotal__c</field>
            <value>
                <elementReference>Get_Price.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxCountry__c</field>
            <value>
                <elementReference>TaxCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxRule__c</field>
            <value>
                <elementReference>Get_Product_Bollo.blng__TaxRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxTreatment__c</field>
            <value>
                <elementReference>Get_Tax_Treatment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TotalAmount__c</field>
            <value>
                <elementReference>Get_Price.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__UnitPrice__c</field>
            <value>
                <elementReference>Get_Price.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>blng__InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoice_Line_Bollo</name>
        <label>Get Invoice Line Bollo</label>
        <locationX>1264</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Invoice_Bollo_Already_Added</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bollo</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Line_E15</name>
        <label>Get Invoice Line E15</label>
        <locationX>1070</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_are_invoice_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VATCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>E15</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Entity</name>
        <label>Get Legal Entity</label>
        <locationX>182</locationX>
        <locationY>1824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Tax_Country_Tipologia</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__LegalEntity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price</name>
        <label>Get Price</label>
        <locationX>380</locationX>
        <locationY>1584</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Bollo.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Bollo</name>
        <label>Get Product Bollo</label>
        <locationX>611</locationX>
        <locationY>1344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BOLLO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tax_Treatment</name>
        <label>Get Tax Treatment</label>
        <locationX>182</locationX>
        <locationY>2520</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insert_Invoice_Line_BOLLO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__TaxRule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Bollo.blng__TaxRule__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__TaxTreatment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Posted</name>
        <label>Update Invoice Posted</label>
        <locationX>1264</locationX>
        <locationY>3240</locationY>
        <inputAssignments>
            <field>blng__InvoiceStatus__c</field>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>491</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__NumberOfInvoiceLines__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>blng__InvoiceStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__TaxStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>InvoiceValidationStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_After_1_Hour</name>
            <connector>
                <targetReference>Run_Status</targetReference>
            </connector>
            <label>Run After 1 Hour</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TaxCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
