force-app/main/default/flows/Invoice_Set_Invoice_on_Payments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Invoice</name>
        <label>Set Invoice</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Loop_Payments_Without_Invoice.blng__Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Payments_Without_Invoice.blng__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__TotalAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Payments_Without_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Payments_Without_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invoice_0</name>
        <label>Set Invoice</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Loop_Payments_Without_Invoice_0.blng__Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Invoice_Line.blng__Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Payments_Without_Invoice_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Payments_Without_Invoice_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Order_Related</name>
        <label>Order Related</label>
        <locationX>644</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Invoice_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_are_payments</name>
        <label>There are payments?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingProfile__r.PaymentMethod__r.blng__PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Payments_Without_Invoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_are_payments_0</name>
        <label>There are payments?</label>
        <locationX>1414</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Loop_Invoice_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingProfile__r.PaymentMethod__r.blng__PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Payments_Without_Invoice_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Modifica considerando che la lookup dell&apos;order può essere vuota</description>
    <interviewLabel>Invoice - Set Invoice on Payments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OLD__Invoice - Set Invoice on Payments</label>
    <loops>
        <name>Loop_Invoice_Line</name>
        <label>Loop Invoice Line</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Invoice_Line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Payments_From_Invoice_Line</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Payments_Without_Invoice</name>
        <label>Loop Payments Without Invoice</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Payments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Invoice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Payments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Payments_Without_Invoice_0</name>
        <label>Loop Payments Without Invoice</label>
        <locationX>1282</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_Payments_From_Invoice_Line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Invoice_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Payments_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Invoice_Line</name>
        <label>Get Invoice Line</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Invoice_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payments</name>
        <label>Get Payments</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_are_payments</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Order__r.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payments_From_Invoice_Line</name>
        <label>Get Payments From Invoice Line</label>
        <locationX>1414</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_are_payments_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Invoice_Line.blng__OrderProduct__r.OrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Invoice_Line.blng__OrderProduct__r.Order.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payments</name>
        <label>Update Payments</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>PaymentsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payments_0</name>
        <label>Update Payments</label>
        <locationX>1282</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Loop_Invoice_Line</targetReference>
        </connector>
        <inputReference>PaymentsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Order_Related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingProfile__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InvoiceLineCount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>PaymentsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Payment__c</objectType>
    </variables>
</Flow>
