force-app/main/default/flows/Invoice_Line_Set_Product_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Set_Product_Name</name>
        <label>Set Product Name</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> (BENE SIGNIFICATIVO – D.M. 29 Dicembre 1999)</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Product_Name</name>
        <label>Set Product Name</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__UsageSummary__r.blng__OrderItemConsumptionSchedule__r.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>How_to_assign_product_name</name>
        <label>How to assign product name</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>UsageSummary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__UsageSummary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__UsageSummary__r.blng__OrderItemConsumptionSchedule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_Name</targetReference>
            </connector>
            <label>Usage summary</label>
        </rules>
        <rules>
            <name>Bene_significativo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClonedSignificantAsset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__OrderProduct__r.SignificantAsset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Product_Name</targetReference>
            </connector>
            <label>Bene significativo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Invoice Line - Set Product Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Line - Set Product Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>How_to_assign_product_name</targetReference>
        </connector>
        <object>blng__InvoiceLine__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
