force-app/main/default/flows/Invoice_Download_PDF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Chiamata a Koinè per il recupero del link al PDF della fattura</description>
        <name>Retrieve_Doc_File</name>
        <label>Retrieve Doc File</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <actionName>KoineApiController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Callout_response_code</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>docNumber</name>
            <value>
                <elementReference>Get_Invoice.DocNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceSezionale</name>
            <value>
                <elementReference>Get_Invoice.Sezionale_Fattura__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Memorizzazione del link al PDF recuperato da Koinè</description>
        <name>Set_PdfLink</name>
        <label>Set PdfLink</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>PdfLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Doc_File.ExternalKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PDF_fattura_recuperato_con_successo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verifica del response code della chiamata a Koinè. Se negativo viene mostrato un messaggio d&apos;errore, altrimenti viene visualizzato il link all&apos;utente.</description>
        <name>Callout_response_code</name>
        <label>Callout response code</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Documento_fattura_non_trovato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Doc_File.ResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PdfLink</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se la fattura non è ancora stata esportata verso Koinè non possiamo richiamare il WS, quindi mostriamo un messaggio d&apos;errore all&apos;utente</description>
        <name>Gia_esportata_verso_Koine</name>
        <label>Già esportata verso Koinè?</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Fattura_non_ancora_esportata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Koine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.ExportStatusKoine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Doc_File</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se la fattura non è stata trovata, mostriamo un messaggio d&apos;errore all&apos;utente, altrimenti procediamo con la logica</description>
        <name>Invoice_found</name>
        <label>Invoice found?</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Fattura_non_trovata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gia_esportata_verso_Koine</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Interrogazione di Koinè per il recupero del link al PDF della fattura
v2: aggiunto il sezionale nei parametri inviati a Mulesoft</description>
    <environments>Default</environments>
    <interviewLabel>Invoice - Download PDF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice - Download PDF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Recupero della fattura su cui è stata cliccata la action</description>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Progressivo_fattura__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Koinè ha risposto con un esito negativo, che viene mostrato a video all&apos;utente</description>
        <name>Documento_fattura_non_trovato</name>
        <label>Documento fattura non trovato</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;Non è stato possibile recuperare il PDF della fattura. Si prega di riprovare più tardi o di contattare l&apos;amministratore.&lt;/p&gt;&lt;p&gt;{!Retrieve_Doc_File.ResponseCode} - {!Retrieve_Doc_File.ResponseMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fattura_non_ancora_esportata</name>
        <label>Fattura non ancora esportata</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotExported</name>
            <fieldText>&lt;p&gt;La fattura non è ancora stata esportata verso Koinè, pertanto non è possibile recuperare il PDF.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fattura_non_trovata</name>
        <label>Fattura non trovata</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotFound</name>
            <fieldText>&lt;p&gt;Non è stato possibile recuperare la fattura.&lt;/p&gt;&lt;p&gt;Si prega di riprovare più tardi oppure di contattare l&apos;amministratore.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PDF_fattura_recuperato_con_successo</name>
        <label>PDF fattura recuperato con successo</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Intro</name>
            <fieldText>&lt;p&gt;Il PDF della fattura è stato recuperato con successo!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PrintButton</name>
            <extensionName>c:PrintButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttontext</name>
                <value>
                    <stringValue>Scarica PDF</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationurl</name>
                <value>
                    <elementReference>PdfLink</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>HelpText</name>
            <fieldText>&lt;p&gt;Per scaricare il PDF della fattura è sufficiente cliccare sul pulsante qui sopra.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Link del PDF recuperato da Koinè</description>
        <name>PdfLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID del record (fattura) su cui è stata cliccata la action</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
