force-app/main/default/flows/Invoice_Set_Company.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Company</name>
        <label>Assign Company</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Lines.blng__OrderProduct__r.Order.Pricebook2.Company__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>v2: revisione totale del flow, facendolo scattare in before e recuperando la company passando dalle invoice lines (la prima che troviamo)</description>
    <environments>Default</environments>
    <interviewLabel>Invoice -Set Company {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice - Set Company</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Recuperiamo solo la prima invoice line, perché ci si aspetta che siano tutte associate allo stesso listino</description>
        <name>Get_Invoice_Lines</name>
        <label>Get Invoice Lines</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Company</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoice_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__NumberOfInvoiceLines__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
