force-app/main/default/flows/Make_Just_One_Address_Default_For_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignDefaultAddressToFalse</name>
        <label>AssignDefaultAddressToFalse</label>
        <locationX>1038</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>addressItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopDefaultAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addressItem.DefaultAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addressToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addressItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopDefaultAddress</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckGetRecordsSize</name>
        <label>CheckGetRecordsSize</label>
        <locationX>795</locationX>
        <locationY>362</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GoToUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSiblingAddressDefault</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAddressRecords</targetReference>
            </connector>
            <label>GoToUpdate</label>
        </rules>
    </decisions>
    <description>Gestione automatica dell&apos;indirizzo primario.</description>
    <interviewLabel>Make Just One Address Default For Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Address - Make Just One Address Default For Account</label>
    <loops>
        <name>LoopDefaultAddress</name>
        <label>LoopDefaultAddress</label>
        <locationX>799</locationX>
        <locationY>138</locationY>
        <collectionReference>GetSiblingAddressDefault</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignDefaultAddressToFalse</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckGetRecordsSize</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetSiblingAddressDefault</name>
        <label>GetSiblingAddressDefault</label>
        <locationX>618</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopDefaultAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DefaultAddress__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAddressRecords</name>
        <label>UpdateAddressRecords</label>
        <locationX>610</locationX>
        <locationY>359</locationY>
        <inputReference>addressToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>142</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>GetSiblingAddressDefault</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DefaultAddress__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Address__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>addressItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>addressToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
</Flow>
