force-app/main/default/flows/Order_Product_Create_Usage_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_US_to_Collection_0</name>
        <label>Add US to Collection</label>
        <locationX>270</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>UsageSummaryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UsageSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scheduled_Job_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_US_to_Collection_0_0</name>
        <label>Add US to Collection</label>
        <locationX>138</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>UsageSummaryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UsageSummaryTomorrow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Product_CS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_US_Value</name>
        <label>Set US Value</label>
        <locationX>270</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>UsageSummary.blng__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummary.blng__Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummary.blng__OrderProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummary.blng__OrderItemConsumptionSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product_CS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummary.blng__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummary.blng__Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>External</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummary.blng__SummaryStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummary.blng__SummaryEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummary.blng__NextBillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummary.blng__InvoiceRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Billing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummary.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummary.blng__UnitOfMeasure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product_CS.SBQQ__UnitOfMeasure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummary.blng__MatchingAttribute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product_CS.SBQQ__MatchingAttribute__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_US_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_US_Value_For_Tomorrow</name>
        <label>Set US Value For Tomorrow</label>
        <locationX>138</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>UsageSummaryTomorrow.blng__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummaryTomorrow.blng__Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummaryTomorrow.blng__OrderProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummaryTomorrow.blng__OrderItemConsumptionSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product_CS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummaryTomorrow.blng__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummaryTomorrow.blng__Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>External</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummaryTomorrow.blng__SummaryStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummaryTomorrow.blng__SummaryEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummaryTomorrow.blng__NextBillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummaryTomorrow.blng__InvoiceRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Billing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummaryTomorrow.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingIDTomorrow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummaryTomorrow.blng__UnitOfMeasure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product_CS.SBQQ__UnitOfMeasure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageSummaryTomorrow.blng__MatchingAttribute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Product_CS.SBQQ__MatchingAttribute__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_US_to_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Product_For_US_Cretion</name>
        <label>Check Product For US Cretion</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Create_Usage_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.DailyBilling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Product_Consumption_Schedule</targetReference>
            </connector>
            <label>Create Usage Summary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cron_Job_Detail_is_Empty</name>
        <label>Cron Job Detail is Empty?</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Get_US_Scheduled_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Cron</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_US_Cron_Job_Detail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Order_Product_CS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scheduled_Job_Completed</name>
        <label>Scheduled Job Completed?</label>
        <locationX>270</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Loop_Order_Product_CS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_US_Scheduled_Job</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_US_Value_For_Tomorrow</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <formulas>
        <name>MatchingID</name>
        <dataType>String</dataType>
        <expression>{!$Record.OrderId} &amp; &apos;-&apos; &amp; {!$Record.Id} &amp; &apos;-&apos; &amp; TEXT(YEAR({!$Flow.CurrentDate})) &amp; &apos;-&apos; &amp; TEXT(MONTH({!$Flow.CurrentDate})) &amp; &apos;-&apos; &amp; TEXT(DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>MatchingIDTomorrow</name>
        <dataType>String</dataType>
        <expression>{!$Record.OrderId} &amp; &apos;-&apos; &amp; {!$Record.Id} &amp; &apos;-&apos; &amp; TEXT(YEAR({!Tomorrow})) &amp; &apos;-&apos; &amp; TEXT(MONTH({!Tomorrow})) &amp; &apos;-&apos; &amp; TEXT(DAY({!Tomorrow}))</expression>
    </formulas>
    <formulas>
        <name>Tomorrow</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>Tomorrow_1</name>
        <dataType>Date</dataType>
        <expression>{!Tomorrow} +1</expression>
    </formulas>
    <formulas>
        <name>TomorrowDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Tomorrow})</expression>
    </formulas>
    <interviewLabel>Order Product - Create Usage Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product - Create Usage Summary</label>
    <loops>
        <name>Loop_Order_Product_CS</name>
        <label>Loop Order Product CS</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_Order_Product_Consumption_Schedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_US_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_US</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_US</name>
        <label>Insert US</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <inputReference>UsageSummaryCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Product_Consumption_Schedule</name>
        <label>Get Order Product Consumption Schedule</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_US_Cron_Job_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_Cron_Job_Detail</name>
        <label>Get US Cron Job Detail</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cron_Job_Detail_is_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JobType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>7</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Create Usage Summary For Daily Invoicing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CronJobDetail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_Scheduled_Job</name>
        <label>Get US Scheduled Job</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Order_Product_CS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CronJobDetailId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_US_Cron_Job_Detail.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NextFireTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>NextFireTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>TomorrowDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WAITING</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CronTrigger</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Product_For_US_Cretion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UsageSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>UsageSummaryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>UsageSummaryTomorrow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
</Flow>
