force-app/main/default/flows/Order_Product_Consumption_Schedule_Set_Tax_Country.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Tax_Country_Account_Region</name>
        <label>Set Tax Country - Account Region</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Order.Account.AccountRegion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_tax_rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Country_PA</name>
        <label>Set Tax Country - PA</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Tax_Country_Account_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Country_RT</name>
        <label>Set Tax Country - RT</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Order.Account.RecordType.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Tax_Country_Account_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Country_Tipo_IVA</name>
        <label>Set Tax Country - Tipo IVA</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SBQQ__ConsumptionSchedule__r.VATManagementType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_is_PA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Rate</name>
        <label>Set Tax Rate</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.TaxPercentageApplied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_tax_rate.blng__Rate__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_is_PA</name>
        <label>Account is PA</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Set_Tax_Country_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__OrderItem__r.Order.Account.FormaAnagrafica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__OrderItem__r.Order.Account.Nation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tax_Country_PA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Order Product Consumption Schedule - Set Tax Country {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product Consumption Schedule - Set Tax Country</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Tax_Country_Tipo_IVA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__OrderItem__r.OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_tax_rate</name>
        <label>Get tax rate</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Tax_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TaxCountry__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__TaxRate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
