force-app/main/default/flows/Payment_Create_Allocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Payment_Type</name>
        <label>Check Payment Type</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Credit_Card_Paypal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Invoice__r.BillingProfile__r.PaymentMethod__r.blng__PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Invoice__r.BillingProfile__r.PaymentMethod__r.blng__PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Allocation</targetReference>
            </connector>
            <label>Credit Card/Paypal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Has_Allocation</name>
        <label>Payment Has Allocation?</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Insert_Allocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Allocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Inserire le Allocation per i pagamenti con Carta di Credito/Paypal</description>
    <interviewLabel>Payment - Create Allocation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment - Create Allocation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Allocation</name>
        <label>Insert Allocation</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>blng__Amount__c</field>
            <value>
                <elementReference>$Record.blng__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Invoice__c</field>
            <value>
                <elementReference>$Record.blng__Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Payment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Type__c</field>
            <value>
                <stringValue>Allocation</stringValue>
            </value>
        </inputAssignments>
        <object>blng__PaymentAllocationInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Allocation</name>
        <label>Get Allocation</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Has_Allocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Invoice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__PaymentAllocationInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Payment_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Gateway_Status_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <object>blng__Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
