force-app/main/default/flows/Payment_Allocation_Set_New_ZKey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_New_ZKey</name>
        <label>Set New ZKey</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.ZKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewZKey</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Found</name>
        <label>Found?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Allocations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_ZKey</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>v1: se vengono create allocation con la funzionalità standard viene copiata la zkey, che però è univoca e questo manda in errore il processo. Con questo flusso viene agganciato il timestamp alla chiave</description>
    <environments>Default</environments>
    <formulas>
        <name>NewZKey</name>
        <dataType>String</dataType>
        <expression>{!$Record.ZKey__c} &amp; TEXT(NOW())</expression>
    </formulas>
    <interviewLabel>Payment Allocation - Set New ZKey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Allocation - Set New ZKey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Allocations</name>
        <label>Get Existing Allocations</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ZKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ZKey__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__PaymentAllocationInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ZKey__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>blng__PaymentAllocationInvoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
