force-app/main/default/flows/Payment_UpdatePayByLink.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_inviata</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Current_Payment.blng__Account__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>mobility@dufercoenergia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>UpdatePayByLink</name>
        <label>UpdatePayByLink</label>
        <locationX>776</locationX>
        <locationY>518</locationY>
        <actionName>NexiPaymentApiController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Callout_Response</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>calloutName</name>
            <value>
                <stringValue>UpdatePayByLink</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nexiParams</name>
            <value>
                <elementReference>NexiParams</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Email_params</name>
        <label>Set Email params</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mancato pagamento sessione di ricarica Duferco Energia | Ripristina il servizio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageAdditionalText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_params_0</name>
        <label>Set Email params</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mancato pagamento acquisto servizi di ricarica Duferco Energia | Completa l&apos;acquisto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteAdditionalText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_params_0_0</name>
        <label>Set Email params</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mancato pagamento fattura servizi di ricarica Duferco Energia | Completa il pagamento</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceAdditionalText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_params_0_0_0</name>
        <label>Set Email params</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mancato pagamento per servizi di ricarica Duferco Energia | Completa il pagamento</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Params</name>
        <label>Set Params</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>NexiParams.nexiTransactionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Payment.blng__GatewayID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NexiParams.nexiGuid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Payment.GUID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePayByLink</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Callout_Response</name>
        <label>Callout Response</label>
        <locationX>776</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Errore_di_comunicazione_con_Nexi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT 200</defaultConnectorLabel>
        <rules>
            <name>X200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdatePayByLink.ResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Object</targetReference>
            </connector>
            <label>200</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Fields</name>
        <label>Check Required Fields</label>
        <locationX>1073</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Mancano_le_informazioni_obbligatorie</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Payment.blng__GatewayID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Params</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object</name>
        <label>Object</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Email_params_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Usage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Payment.Usage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Usage</targetReference>
            </connector>
            <label>Usage</label>
        </rules>
        <rules>
            <name>Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Payment.Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Line</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
        <rules>
            <name>Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Payment.blng__Invoice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice</targetReference>
            </connector>
            <label>Invoice</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountName</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Current_Payment.blng__Account__r.IsPersonAccount},{!Get_Current_Payment.blng__Account__r.FirstName}&amp;&apos; &apos;&amp;{!Get_Current_Payment.blng__Account__r.LastName},{!Get_Current_Payment.blng__Account__r.Name})</expression>
    </formulas>
    <formulas>
        <name>InvoiceAdditionalText</name>
        <dataType>String</dataType>
        <expression>&apos;Fattura n° &apos;&amp;{!Get_Invoice.DocNumber__c}&amp;&apos; del &apos;&amp;TEXT(DAY({!Get_Invoice.blng__InvoiceDate__c})) &amp; &apos;/&apos; &amp; TEXT(MONTH({!Get_Invoice.blng__InvoiceDate__c})) &amp; &apos;/&apos; &amp; TEXT(YEAR({!Get_Invoice.blng__InvoiceDate__c}))</expression>
    </formulas>
    <formulas>
        <name>QuoteAdditionalText</name>
        <dataType>String</dataType>
        <expression>&apos;Richiesta di acquisto del &apos;&amp;TEXT(DAY(DATEVALUE({!Get_Quote_Line.CreatedDate}+2/24))) &amp; &apos;/&apos; &amp; TEXT(MONTH(DATEVALUE({!Get_Quote_Line.CreatedDate}+2/24))) &amp; &apos;/&apos; &amp; TEXT(YEAR(DATEVALUE({!Get_Quote_Line.CreatedDate}+2/24)))&amp;&apos;. Offerta: &apos;&amp;{!Get_Quote_Line.SBQQ__ProductName__c}</expression>
    </formulas>
    <formulas>
        <name>UsageAdditionalText</name>
        <dataType>String</dataType>
        <expression>&apos;Sessione di ricarica &apos;&amp;{!Get_Usage.TransactionID__c}&amp;&apos; del &apos;&amp;TEXT(DAY({!Get_Usage.blng__ProcessingDate__c})) &amp; &apos;/&apos; &amp; TEXT(MONTH({!Get_Usage.blng__ProcessingDate__c})) &amp; &apos;/&apos; &amp; TEXT(YEAR({!Get_Usage.blng__ProcessingDate__c}))&amp;BR()&amp;
&apos;Indirizzo: &apos;&amp;{!Get_Usage.Address__c}&amp;&apos; &apos;&amp;{!Get_Usage.City__c}&amp;&apos; &apos;&amp;{!Get_Usage.Province__c}&amp;BR()&amp;
&apos;Id Card: &apos;&amp;{!Get_Usage.StartCard__r.CardNumber__c}&amp;BR()&amp;
&apos;kWh: &apos;&amp;IF(AND(NOT(ISBLANK({!Get_Usage.blng__Quantity__c})),{!Get_Usage.blng__Quantity__c}&gt;0),TEXT({!Get_Usage.blng__Quantity__c}),TEXT({!Get_Usage.blng__PreratedQuantity__c}))&amp;BR()&amp;
IF(AND(NOT(ISBLANK({!Get_Usage.PenaltyTime__c})),{!Get_Usage.PenaltyTime__c}&gt;0),&apos;Penalty time: &apos;&amp;TEXT({!Get_Usage.PenaltyTime__c})&amp;&apos; minuti&apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Payment - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment - UpdatePayByLink</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Payment</name>
        <label>Get Current Payment</label>
        <locationX>1073</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Required_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_params_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Payment.blng__Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line</name>
        <label>Get Quote Line</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_params_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Payment.Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Existing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Usage</name>
        <label>Get Usage</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_params</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Payment.Usage__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Usage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Email_inviata</name>
        <label>Email inviata</label>
        <locationX>446</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Successo</name>
            <fieldText>&lt;p&gt;È stata inviata una nuova email al cliente!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Errore_di_comunicazione_con_Nexi</name>
        <label>Errore di comunicazione con Nexi</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConnectionError</name>
            <fieldText>&lt;p&gt;Per un errore di comunicazione con Nexi non è stato possibile rimandare il link al cliente!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!UpdatePayByLink.ResponseCode} - {!UpdatePayByLink.ResponseMessage} - {!UpdatePayByLink.X_Correlation_id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mancano_le_informazioni_obbligatorie</name>
        <label>Mancano le informazioni obbligatorie</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoRequiredFields</name>
            <fieldText>&lt;p&gt;Per poter rimandare il link Pay-by-Link è necessario che sia presente Transaction ID!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Gentile Cliente,&amp;nbsp;&lt;/p&gt;&lt;p&gt;abbiamo riscontrato un mancato pagamento relativo al servizio di ricarica Mobility di Duferco Energia.&lt;/p&gt;&lt;p&gt;{!AdditionalText}&lt;/p&gt;&lt;p&gt;Per riattivare il tuo servizio, puoi effettuare il pagamento al seguente link:&amp;nbsp;&lt;/p&gt;&lt;br&gt;&lt;br&gt;&lt;p&gt;&lt;a style=&quot;background-color: #00cc5d; color: #fff; border-radius: 0.3em; padding: 0.8em 1.8em; text-decoration: none;&quot; href=&quot;{!UpdatePayByLink.ExternalKey}&quot;&gt;Paga qui&lt;/a&gt;&lt;/p&gt;&lt;br&gt;&lt;br&gt;&lt;p&gt;Per maggiori informazioni contatta il Customer Care di Duferco Energia al numero verde 800.92.22.00.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordiali saluti&lt;/p&gt;&lt;p&gt;E-Mobility Team Duferco Energia&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;img width=&quot;300&quot; src=&quot;https://dufercoenergia.com/wp-content/uploads/2019/08/DufercoEnergia_New.png&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AdditionalText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NexiParams</name>
        <apexClass>NexiPaymentParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
