force-app/main/default/flows/Payment_Disattivazione_Card_per_pagamento_in_errore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_status_Blocked</name>
        <label>Set status Blocked</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_Active_Card.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Block_Card</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_Enabled</name>
        <label>Set status Enabled</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_Blocked_Card.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activate_Card</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Card_found</name>
        <label>Card found?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Card</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Gateway_Status_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Gateway_Status_Payment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_Blocked</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Card_found_0</name>
        <label>Card found?</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Blocked_Card</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_Enabled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_change_Payment_Status</name>
        <label>Check change Payment Status</label>
        <locationX>908</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gateway_Status_Payment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Blocked_Card</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_or_Success</name>
        <label>Error or Success?</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gateway_Status_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Card</targetReference>
            </connector>
            <label>Error</label>
        </rules>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gateway_Status_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_change_Payment_Status</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Disattivazione Card per pagamento in errore {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment - Disattivazione Card per pagamento in errore</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Card</name>
        <label>Get Active Card</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Card_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Blocked_Card</name>
        <label>Get Blocked Card</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Card_found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Card</name>
        <label>Activate Card</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <inputReference>Get_Blocked_Card</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Block_Card</name>
        <label>Block Card</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputReference>Get_Active_Card</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Error_or_Success</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Usage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Gateway_Status_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <filters>
            <field>Gateway_Status_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <object>blng__Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
