force-app/main/default/flows/Payment_Send_Email_Aftfer_Success_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.blng__Account__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>mobility@dufercoenergia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Email_params</name>
        <label>Set Email params</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conferma pagamento sessione di ricarica Duferco Energia</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageAdditionalText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_params_0</name>
        <label>Set Email params</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conferma pagamento acquisto servizi di ricarica Duferco Energia</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteAdditionalText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_params_0_0</name>
        <label>Set Email params</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conferma pagamento fattura servizi di ricarica Duferco Energia</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceAdditionalText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_params_0_0_0</name>
        <label>Set Email params</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conferma pagamento per servizi di ricarica Duferco Energia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Object</name>
        <label>Object</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Set_Email_params_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Usage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Usage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Usage</targetReference>
            </connector>
            <label>Usage</label>
        </rules>
        <rules>
            <name>Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Line</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
        <rules>
            <name>Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Invoice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice</targetReference>
            </connector>
            <label>Invoice</label>
        </rules>
    </decisions>
    <formulas>
        <name>InvoiceAdditionalText</name>
        <dataType>String</dataType>
        <expression>&apos;Fattura n° &apos;&amp;{!Get_Invoice.DocNumber__c}&amp;&apos; del &apos;&amp;TEXT(DAY({!Get_Invoice.blng__InvoiceDate__c})) &amp; &apos;/&apos; &amp; TEXT(MONTH({!Get_Invoice.blng__InvoiceDate__c})) &amp; &apos;/&apos; &amp; TEXT(YEAR({!Get_Invoice.blng__InvoiceDate__c}))</expression>
    </formulas>
    <formulas>
        <name>QuoteAdditionalText</name>
        <dataType>String</dataType>
        <expression>&apos;Richiesta di acquisto del &apos;&amp;TEXT(DAY(DATEVALUE({!Get_Quote_Line.CreatedDate}+2/24))) &amp; &apos;/&apos; &amp; TEXT(MONTH(DATEVALUE({!Get_Quote_Line.CreatedDate}+2/24))) &amp; &apos;/&apos; &amp; TEXT(YEAR(DATEVALUE({!Get_Quote_Line.CreatedDate}+2/24)))&amp;&apos;. Offerta: &apos;&amp;{!Get_Quote_Line.SBQQ__ProductName__c}</expression>
    </formulas>
    <formulas>
        <name>UsageAdditionalText</name>
        <dataType>String</dataType>
        <expression>&apos;Sessione di ricarica &apos;&amp;{!Get_Usage.TransactionID__c}&amp;&apos; del &apos;&amp;TEXT(DAY({!Get_Usage.blng__ProcessingDate__c})) &amp; &apos;/&apos; &amp; TEXT(MONTH({!Get_Usage.blng__ProcessingDate__c})) &amp; &apos;/&apos; &amp; TEXT(YEAR({!Get_Usage.blng__ProcessingDate__c}))&amp;BR()&amp;
&apos;Indirizzo: &apos;&amp;{!Get_Usage.Address__c}&amp;&apos; &apos;&amp;{!Get_Usage.City__c}&amp;&apos; &apos;&amp;{!Get_Usage.Province__c}&amp;BR()&amp;
&apos;Id Card: &apos;&amp;{!Get_Usage.StartCard__r.CardNumber__c}&amp;BR()&amp;
&apos;kWh: &apos;&amp;IF(AND(NOT(ISBLANK({!Get_Usage.blng__Quantity__c})),{!Get_Usage.blng__Quantity__c}&gt;0),TEXT({!Get_Usage.blng__Quantity__c}),TEXT({!Get_Usage.blng__PreratedQuantity__c}))&amp;BR()&amp;
IF(AND(NOT(ISBLANK({!Get_Usage.PenaltyTime__c})),{!Get_Usage.PenaltyTime__c}&gt;0),&apos;Penalty time: &apos;&amp;TEXT({!Get_Usage.PenaltyTime__c})&amp;&apos; minuti&apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Payment - Send Email Aftfer Success Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment - Send Email Aftfer Success Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_params_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line</name>
        <label>Get Quote Line</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_params_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Existing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Usage</name>
        <label>Get Usage</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_params</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Usage__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Usage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Gateway_Status_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <object>blng__Payment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Gentile cliente, ti confermiamo che il tuo pagamento a favore di Duferco Energia di euro {!$Record.blng__Amount__c} è andato a buon fine.&lt;/p&gt;&lt;p&gt;{!AdditionalText}&lt;/p&gt;&lt;br&gt;&lt;p&gt;Cordiali saluti,&lt;/p&gt;&lt;p&gt;Duferco Energia SpA&lt;/p&gt;
&lt;p style=&quot;text-align: left;&quot;&gt;&lt;img width=&quot;300&quot; src=&quot;https://dufercoenergia.com/wp-content/uploads/2019/08/DufercoEnergia_New.png&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AdditionalText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
