force-app/main/default/flows/Payment_Show_Payment_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Chiamata Apex per mostrare a video i dettagli dell&apos;ordine</description>
        <name>Order_Details</name>
        <label>Order Details</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <actionName>NexiPaymentApiController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Callout_ok</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>calloutName</name>
            <value>
                <stringValue>OrderDetails</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>getParams</name>
            <value>
                <elementReference>VariabilidaPassareLista</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Fields_Variabili_da_Passare</name>
        <label>Add Fields Variabili da Passare</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>VariabilidaPassareLista</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VariabilidaPassare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variabili_da_Valorizzare</name>
        <label>Variabili da Valorizzare</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>VariabilidaPassare.fieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>nexiTransactionCode</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VariabilidaPassare.fieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GatewayID.blng__GatewayID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Fields_Variabili_da_Passare</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Callout_ok</name>
        <label>Callout ok?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not OK</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Details.nexiOrderDetailsResponse.transaction_esito</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OK</targetReference>
            </connector>
            <label>200</label>
        </rules>
    </decisions>
    <description>Mostra a video i dettagli del pagamento</description>
    <interviewLabel>Payment - Show Payment Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment - Show Payment Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_GatewayID</name>
        <label>Get_GatewayID</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Variabili_da_Valorizzare</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Messaggio_di_risposta</name>
            <fieldText>&lt;p&gt;{!Order_Details.ResponseMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OK</name>
        <label>OK</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Report</name>
            <fieldText>&lt;p&gt;ID Operazione: {!Order_Details.nexiOrderDetailsResponse.transaction_idOperazione}&lt;/p&gt;&lt;p&gt;Importo: {!Order_Details.report.transaction_importo}&lt;/p&gt;&lt;p&gt;Valuta: {!Order_Details.report.transaction_divisa}&lt;/p&gt;&lt;p&gt;Data Transazione: {!Order_Details.report.transaction_dataTransazione}&lt;/p&gt;&lt;p&gt;Brand: {!Order_Details.report.transaction_brand}&lt;/p&gt;&lt;p&gt;Nazione: {!Order_Details.report.transaction_nazione}&lt;/p&gt;&lt;p&gt;Tipo Prodotto: {!Order_Details.report.transaction_tipoProdotto}&lt;/p&gt;&lt;p&gt;PAN: {!Order_Details.report.transaction_pan}&lt;/p&gt;&lt;p&gt;Stato: {!Order_Details.report.transaction_stato}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_GatewayID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VariabilidaPassare</name>
        <apexClass>CalloutFlowParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VariabilidaPassareLista</name>
        <apexClass>CalloutFlowParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
