force-app/main/default/flows/PopulateBillingProfileonInvoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignBillingProfile</name>
        <label>AssignBillingProfile</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__Order__r.Billing_Profile__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignBillingProfile_0</name>
        <label>AssignBillingProfile</label>
        <locationX>578</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Line.blng__OrderProduct__r.Order.Billing_Profile__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Esigibilit_IVA_S</name>
        <label>Esigibilità IVA = S</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.EsigibilitaIVA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Related</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Billing_Profile_on_Order</name>
        <label>Billing Profile on Order?</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Order__r.Billing_Profile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignBillingProfile</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Profile_on_Order_0</name>
        <label>Billing Profile on Order?</label>
        <locationX>710</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Line.blng__OrderProduct__r.Order.Billing_Profile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignBillingProfile_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Related</name>
        <label>Order Related?</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Invoice_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Profile_on_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Split_Payment</name>
        <label>Split Payment?</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Order_Related</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Account__r.SplitPayment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esigibilit_IVA_S</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Popolare il Billing Profile, recuperandolo dall&apos;ordine che ha generato la fattura
- Modifica considerando che la lookup dell&apos;order può essere vuota</description>
    <environments>Default</environments>
    <interviewLabel>Populate Billing Profile on Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice - Populate Billing Profile on Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Invoice_Line</name>
        <label>Get Invoice Line</label>
        <locationX>710</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billing_Profile_on_Order_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Split_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceLineCount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>BillingProfile__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
