force-app/main/default/flows/Quote_Set_Flag_Generate_Namirial_Envelope.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Assegno il size della lista ad una variabile di controllo</description>
        <name>AssignSizeList</name>
        <label>AssignSizeList</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>VariableCountList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetQuoteLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Documents_has_been_generated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Se i documenti sono stati generati, possiamo verificare se si sono generati anche per i figli</description>
        <name>Documents_has_been_generated</name>
        <label>Documents has been generated?</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesParent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DocumentsGenerated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VariableCountList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Condominio</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se i documenti non sono stati generati, interrompiamo il flow</description>
        <name>Documents_has_been_generated2</name>
        <label>Documents has been generated?</label>
        <locationX>226</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesChild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Children.DocumentsGenerated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Children</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se non ha offerte figlie si può generare la envelope Namirial, altrimenti bisogna verificare se i documenti si sono anche generati per i figli</description>
        <name>Has_Children</name>
        <label>Has Children?</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Set_Generate_Envelope_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Condominio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Children</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Questo flow imposta il flag Generate Namirial Envelope per le offerte Baslab, nel momento in cui la generazione dei documenti si è conclusa
- V2 Aggiunta fix per Quote amministratore senza quoteLine</description>
    <environments>Default</environments>
    <interviewLabel>Quote - Set Flag Generate Namirial Envelope {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Set Flag Generate Namirial Envelope</label>
    <loops>
        <description>Cicliamo le offerte condominio</description>
        <name>Loop_Children</name>
        <label>Loop Children</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_Quote_Condominio</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Documents_has_been_generated2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Generate_Envelope_to_True2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get delle quote condominio, figlie di questa</description>
        <name>Get_Quote_Condominio</name>
        <label>Get Quote Condominio</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentQuote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get sulle QuoteLine per controllare l&apos;eccezione sulla quote amministratore senza QuoteLine</description>
        <name>GetQuoteLine</name>
        <label>GetQuoteLine</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignSizeList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Impostiamo il flag per far generare le envelope Namirial</description>
        <name>Set_Generate_Envelope_to_True</name>
        <label>Set Generate Envelope to True</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>GenerateNamirialEnvelope__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Se siamo arrivati fin qui vuol dire che sia la quote padre, sia le figlie hanno il flag a true. Impostiamo il flag per far generare le envelope Namirial</description>
        <name>Set_Generate_Envelope_to_True2</name>
        <label>Set Generate Envelope to True</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>GenerateNamirialEnvelope__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetQuoteLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PricebookType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bsb</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentQuote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Variabile size list QuoteLine</description>
        <name>VariableCountList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
