force-app/main/default/flows/Quote_Create_Namirial_Envelope.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Aggiungiamo l&apos;Id del documento alla lista</description>
        <name>Add_Content_Document_Id</name>
        <label>Add Content Document Id</label>
        <locationX>444</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>DocumentsAlreadySent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Namirial_Documents.ContentDocumentId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Namirial_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_document_to_List</name>
        <label>Add document to List</label>
        <locationX>314</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocumentList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NamirialEnvelopeDocument</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_document_to_List_Child</name>
        <label>Add document to List Child</label>
        <locationX>884</locationX>
        <locationY>3911</locationY>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocumentList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NamirialEnvelopeDocument</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_count_Child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_count</name>
        <label>Increment count</label>
        <locationX>314</locationX>
        <locationY>2207</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Parent_Content_Document_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_count_Child</name>
        <label>Increment count Child</label>
        <locationX>884</locationX>
        <locationY>4031</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Content_Document_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Namirial_Envelope_Document</name>
        <label>Set Namirial Envelope Document</label>
        <locationX>314</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.ContentDocumentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Content_Version_1.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.ContentVersionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Content_Version_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.DocRefNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.ExternalKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Namirial_Envelope</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.ExternalKey__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>_</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.ExternalKey__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.NamirialEnvelope__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Namirial_Envelope</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Content_Version_1.PathOnClient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_document_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Namirial_Envelope_Document_Child</name>
        <label>Set Namirial Envelope Document Child</label>
        <locationX>884</locationX>
        <locationY>3791</locationY>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.ContentDocumentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Child_Content_Version.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.ContentVersionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Child_Content_Version.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.DocRefNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.ExternalKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Namirial_Envelope</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.ExternalKey__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>_</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.ExternalKey__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Child_Content_Version.PathOnClient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NamirialEnvelopeDocument.NamirialEnvelope__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Namirial_Envelope</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_document_to_List_Child</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Controlliamo che il documento non sia già stato inviato</description>
        <name>Already_sent</name>
        <label>Already sent?</label>
        <locationX>292</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Get_Parent_Content_Version_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not</defaultConnectorLabel>
        <rules>
            <name>Already_sent2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentsAlreadySent</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Parent_Content_Document_Link.ContentDocumentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Parent_Content_Document_Link</targetReference>
            </connector>
            <label>Already sent</label>
        </rules>
    </decisions>
    <decisions>
        <description>Controlliamo che il documento non sia già stato inviato</description>
        <name>Already_sent_child</name>
        <label>Already sent?</label>
        <locationX>862</locationX>
        <locationY>3431</locationY>
        <defaultConnector>
            <targetReference>Get_Child_Content_Version</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not</defaultConnectorLabel>
        <rules>
            <name>Already_sent_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentsAlreadySent</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Child_Content_Document_Link.ContentDocumentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Child_Content_Document_Link</targetReference>
            </connector>
            <label>Already sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Child_Content_Document_Link_present</name>
        <label>Child Content Document Link present?</label>
        <locationX>750</locationX>
        <locationY>3191</locationY>
        <defaultConnector>
            <targetReference>Loop_Child_Quotes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_childLink</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Content_Document_Link</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Child_Content_Document_Link</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Child_Content_Version_present</name>
        <label>Child Content Version present?</label>
        <locationX>1016</locationX>
        <locationY>3671</locationY>
        <defaultConnector>
            <targetReference>Loop_Child_Content_Document_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_childVersion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Content_Version</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Namirial_Envelope_Document_Child</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Child_Quote_present</name>
        <label>Child Quote present?</label>
        <locationX>180</locationX>
        <locationY>2831</locationY>
        <defaultConnector>
            <targetReference>Create_Namirial_Envelope_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_childQuotes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Quotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Child_Quotes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Content_Document_Link_present</name>
        <label>Parent Content Document Link present?</label>
        <locationX>180</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Get_Child_Quotes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_parentLink</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Content_Document_Link</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Parent_Content_Document_Link</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Content_Version_present</name>
        <label>Parent Content Version present?</label>
        <locationX>446</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Loop_Parent_Content_Document_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Content_Version_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Namirial_Envelope_Document</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote - Create Namirial Envelope {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Create Namirial Envelope</label>
    <loops>
        <name>Loop_Child_Content_Document_Link</name>
        <label>Loop Child Content Document Link</label>
        <locationX>620</locationX>
        <locationY>3311</locationY>
        <collectionReference>Get_Child_Content_Document_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Already_sent_child</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Child_Quotes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Child_Quotes</name>
        <label>Loop Child Quotes</label>
        <locationX>136</locationX>
        <locationY>2951</locationY>
        <collectionReference>Get_Child_Quotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Child_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Namirial_Envelope_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Ciclo sui documenti già inviati</description>
        <name>Loop_Namirial_Documents</name>
        <label>Loop Namirial Documents</label>
        <locationX>356</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_Previous_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Content_Document_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Previous_Envelopes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Parent_Content_Document_Link</name>
        <label>Loop Parent Content Document Link</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <collectionReference>Get_Parent_Content_Document_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Already_sent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Child_Quotes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Ciclo delle envelope precedenti per recuperare i documenti già inviati</description>
        <name>Loop_Previous_Envelopes</name>
        <label>Loop Previous Envelopes</label>
        <locationX>180</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Previous_Envelope</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Previous_Documents</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Parent_Content_Document_Link_present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Namirial_Envelope</name>
        <label>Create Namirial Envelope</label>
        <locationX>180</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Get_Parent_Content_Document_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>EmailBody__c</field>
            <value>
                <stringValue>&lt;p&gt;Gentile #RecipientFirstName# #RecipientLastName#&lt;/p&gt;&lt;p&gt;è richiesta la firma del &quot;#EnvelopeName#&quot; a lei intestato&lt;/p&gt;&lt;a class=&quot;button&quot; href=&quot;#Url#&quot;&gt;Apri Documento&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Questo messaggio è stato inviato da &lt;B&gt;BasLab Srl&lt;/B&gt;.&lt;/p&gt;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailSender__c</field>
            <value>
                <stringValue>BasLab Srl</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailSubject__c</field>
            <value>
                <stringValue>Per favore firmi la pratica allegata</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.CommunicationEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName__c</field>
            <value>
                <elementReference>$Record.Nome_firma_digitale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <stringValue>IT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName__c</field>
            <value>
                <elementReference>$Record.Cognome_firma_digitale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone__c</field>
            <value>
                <elementReference>$Record.CommunicationMobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePrefix__c</field>
            <value>
                <elementReference>$Record.MobilePrefix__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Contratto BasLab</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Namirial_Envelope__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Namirial_Envelope_Documents</name>
        <label>Create Namirial Envelope Documents</label>
        <locationX>180</locationX>
        <locationY>4727</locationY>
        <connector>
            <targetReference>Create_Event_Envelope</targetReference>
        </connector>
        <inputReference>NamirialEnvelopeDocumentList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Content_Document_Link</name>
        <label>Get Child Content Document Link</label>
        <locationX>750</locationX>
        <locationY>3071</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Content_Document_Link_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Child_Quotes.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Content_Version</name>
        <label>Get Child Content Version</label>
        <locationX>1016</locationX>
        <locationY>3551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Content_Version_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Child_Content_Document_Link.ContentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Quotes</name>
        <label>Get Child Quotes</label>
        <locationX>180</locationX>
        <locationY>2711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Quote_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentQuote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Content_Document_Link</name>
        <label>Get Parent Content Document Link</label>
        <locationX>180</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Previous_Envelope</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Content_Version_1</name>
        <label>Get Parent Content Version</label>
        <locationX>446</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Content_Version_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Parent_Content_Document_Link.ContentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Recupero documenti già inviati in precedenza</description>
        <name>Get_Previous_Documents</name>
        <label>Get Previous Documents</label>
        <locationX>356</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Namirial_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NamirialEnvelope__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Previous_Envelopes.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Namirial_Envelope_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Recupero precedenti envelope</description>
        <name>Get_Previous_Envelope</name>
        <label>Get Previous Envelope</label>
        <locationX>180</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Previous_Envelopes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Namirial_Envelope__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Create_Event_Envelope</name>
        <label>Create Event Envelope</label>
        <locationX>180</locationX>
        <locationY>4847</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Namirial_Envelope</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreateEvent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Namirial_Envelope__c</object>
    </recordUpdates>
    <start>
        <locationX>54</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Namirial_Envelope</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GenerateNamirialEnvelope__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Lista dei documenti già inviati in envelope precedenti</description>
        <name>DocumentsAlreadySent</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NamirialEnvelopeDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Namirial_Envelope_Document__c</objectType>
    </variables>
    <variables>
        <name>NamirialEnvelopeDocumentList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Namirial_Envelope_Document__c</objectType>
    </variables>
</Flow>
