force-app/main/default/flows/Quote_Line_Set_Tax_Country_On_QuoteLine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Tax_Country</name>
        <label>Set Tax Country - Tipologia</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.TaxCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TipologiaIVA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_is_PA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Country_Account_Region</name>
        <label>Set Tax Country - Account Region</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>$Record.TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Quote.SBQQ__Account__r.AccountRegion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tax_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Country_Account_RT</name>
        <label>Set Tax Country - Account RT</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Quote.SBQQ__Account__r.RecordType.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Tax_Country_Account_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Country_PA</name>
        <label>Set Tax Country - PA</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Tax_Country_Account_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Percentage_and_Significative_Asset</name>
        <label>Set Tax Percentage and Significative Asset</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>$Record.TaxPercentageApplied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tax_Rate.blng__Rate__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_is_PA</name>
        <label>Account is PA</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Set_Tax_Country_Account_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.SBQQ__Account__r.FormaAnagrafica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.SBQQ__Account__r.Nation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tax_Country_PA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_Quote</name>
        <label>Check Record Type Quote</label>
        <locationX>611</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Efficienza_Energetica</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EfficienzaEnergetica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baslab</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product</targetReference>
            </connector>
            <label>Efficienza Energetica or Baslab</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_and_Quote_found</name>
        <label>Product and Quote found</label>
        <locationX>380</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tax_Country</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>CSDB: persona fisica e categoria catastale tipo C e quota parte bene significativo al 22%
AG10: persona fisica e categoria catastale diversa da tipo C o quota parte bene significativo al 10%
RVRS: persona giuridica</description>
        <name>TipologiaIVA</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.SBQQ__Quote__r.RecordType.DeveloperName}=&apos;EfficienzaEnergetica&apos;,

IF(
    AND(
            {!$Record.SBQQ__Quote__r.SBQQ__Account__r.IsPersonAccount}, 
            LEFT(TEXT({!$Record.SBQQ__Quote__r.Cadastral_Category__c}), 1) !=&apos;C&apos;
    ), 
    IF(
        AND({!$Record.SignificantAsset__c}, {!$Record.ClonedSignificantAsset__c}),
        &apos;CSDB&apos;,
         &apos;AG10&apos;
      ), 
      IF(
            AND(
                      {!$Record.SBQQ__Quote__r.SBQQ__Account__r.IsPersonAccount}, 
                      LEFT(TEXT({!$Record.SBQQ__Quote__r.Cadastral_Category__c}), 1) =&apos;C&apos;
            ), 
           &apos;CSDB&apos;, 
           &apos;RVRS&apos;
       )
),

TEXT({!$Record.SBQQ__Product__r.VATManagementType__c}))</expression>
    </formulas>
    <interviewLabel>Quote Line - Set Tax Country On QuoteLine {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line - Set Tax Country On QuoteLine</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>380</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_and_Quote_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tax_Rate</name>
        <label>Get Tax Rate</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Tax_Percentage_and_Significative_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TaxCountry__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__TaxRate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
