force-app/main/default/flows/Quote_Set_Pricebook_Default.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Assegnazione delle quote al listino Baslab</description>
        <name>Set_Pricebook_Id</name>
        <label>Set Pricebook Id</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__PriceBook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baslab_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__PricebookId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baslab_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Valorizzazione del pricebook di default per le quote con opportunità (attualmente sono solo quelle Baslab)</description>
    <environments>Default</environments>
    <interviewLabel>Quote - Set Pricebook Default {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Set Pricebook Default</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Le quote con opportunità sono tutte assegnate al listino Baslab</description>
        <name>Get_Baslab_Pricebook</name>
        <label>Get Baslab Pricebook</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Pricebook_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VS</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Baslab_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
