force-app/main/default/flows/Quote_Imposta_campi_per_AllegatoA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Quote_Condominio_ID_to_List</name>
        <label>Add Quote Condominio ID to List</label>
        <locationX>352</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>QuoteCondominioIDList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Quote_Condominio.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Condominio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Aggiungiamo le quote line della quote amministratore alla lista</description>
        <name>Add_Quote_Line_Amministratore_to_List</name>
        <label>Add Quote Line Amministratore to List</label>
        <locationX>176</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>AllQuoteLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_quote_line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote_Condominio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Aggiungiamo le quote line della quote condominio alla lista</description>
        <name>Add_Quote_Line_Condominio_to_List</name>
        <label>Add Quote Line Condominio to List</label>
        <locationX>264</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>AllQuoteLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Quote_Line_Condominio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cicla_quote_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se la quote line è condominio, aggiungiamo il suo Total alla variabile di roll-up</description>
        <name>Add_Quote_Line_Total</name>
        <label>Add Quote Line Total</label>
        <locationX>1320</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>TotaleQuoteLineCondominio</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cicla_quote_line.Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cicla_quote_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_campi_per_ARCCONT</name>
        <label>Assegna campi per ARCCONT</label>
        <locationX>264</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>ModuloScelto</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contabilita</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumeroUtenti</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cicla_quote_line.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Quote_Line_Condominio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_campi_per_ARCCONTICK</name>
        <label>Assegna campi per ARCCONTICK</label>
        <locationX>528</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>ModuloScelto</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumeroUtenti</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cicla_quote_line.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Quote_Line_Condominio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_campi_per_ARCDATI_ARCDATI_RN</name>
        <label>Assegna campi per ARCDATI+ARCDATI_RN</label>
        <locationX>792</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>importazioneDati</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Quote_Line_Condominio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_campi_per_ARCPERS_ARCPERS_RN</name>
        <label>Assegna campi per ARCPERS+ARCPERS_RN</label>
        <locationX>1056</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>OreFormazionePersonalizzata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cicla_quote_line.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Quote_Line_Condominio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_campi_per_ARCTICK</name>
        <label>Assegna campi per ARCTICK</label>
        <locationX>1320</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>ModuloScelto</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ticketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumeroUtenti</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cicla_quote_line.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Quote_Line_Condominio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_campi_per_ARCTRIAL_ARCUTEN</name>
        <label>Assegna campi per ARCTRIAL+ARCUTEN</label>
        <locationX>1584</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>NumeroUtenti</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cicla_quote_line.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Quote_Line_Condominio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_campi_per_FATTELE</name>
        <label>Assegna campi per FATTELE</label>
        <locationX>1848</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>ServiziPerCondomini</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fatturaElettronica</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Quote_Line_Condominio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_campi_per_PREMANNPOLMAT_PSPOLTUTLEGA</name>
        <label>Assegna campi per PREMANNPOLMAT+PSPOLTUTLEGA</label>
        <locationX>2112</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>ServiziPerCondomini</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>polizzaTutelaLegale</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Quote_Line_Condominio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_campi_per_PRIV</name>
        <label>Assegna campi per PRIV</label>
        <locationX>2376</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>ServiziPerCondomini</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Privacy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Quote_Line_Condominio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Il numero di condomini è dato dal numero di quote condominio trovate all&apos;inizio del flow</description>
        <name>Assegna_Numero_Condomini</name>
        <label>Assegna Numero Condomini</label>
        <locationX>176</locationX>
        <locationY>3023</locationY>
        <assignmentItems>
            <assignToReference>NumeroCondomini</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Quote_Condominio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Amministratore_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Impostiamo la variabile di check a false, perché non deve ancora essere creata la envelope</description>
        <name>Set_CheckNamirialEnvelope_to_false</name>
        <label>Set CheckNamirialEnvelope to false</label>
        <locationX>264</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>CheckCreateNamirialEnvelope</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_quote_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Impostiamo la variabile di check a false, perché non deve ancora essere creata la envelope</description>
        <name>Set_CheckNamirialEnvelope_to_false2</name>
        <label>Set CheckNamirialEnvelope to false</label>
        <locationX>440</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>CheckCreateNamirialEnvelope</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Condominio_ID_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Valorizziamo i campi della quote amministratore (quella che ha fatto scattare il flow) con i dati calcolati in precedenza</description>
        <name>Set_Quote_Amministratore_Fields</name>
        <label>Set Quote Amministratore Fields</label>
        <locationX>176</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fatturazione_Elettronica__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fatturaElettronica</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Gestione_Privacy_Condom_ni__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Privacy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Importazione_dati__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>importazioneDati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Modalit_di_fatturazione_servizi_per_con__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiziPerCondomini</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Numero_condomini__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumeroCondomini</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Numero_utenti__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumeroUtenti</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ore_formazione_personalizzata__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OreFormazionePersonalizzata</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Polizza_Tutela_Legale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>polizzaTutelaLegale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CondominiumTotalRollUp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotaleQuoteLineCondominio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GenerateNamirialEnvelope__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckCreateNamirialEnvelope</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Modulo_Scelto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModuloScelto</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_list_is_empty</name>
        <label>Check if list is empty</label>
        <locationX>176</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Get_Quote_Line_Condominio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>List not empty</defaultConnectorLabel>
        <rules>
            <name>List_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteCondominioIDList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cicla_quote_line</targetReference>
            </connector>
            <label>List empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se i documenti non sono ancora stati generati, non deve essere creata la envelope</description>
        <name>Documents_has_been_generated</name>
        <label>Documents has been generated?</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Set_CheckNamirialEnvelope_to_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesDocs</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DocumentsGenerated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__LineItemCount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_quote_line</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se i documenti non sono ancora stati generati, non deve essere creata la envelope</description>
        <name>Documents_has_been_generated2</name>
        <label>Documents has been generated?</label>
        <locationX>352</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Set_CheckNamirialEnvelope_to_false2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesDocs2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Condominio.DocumentsGenerated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Quote_Condominio_ID_to_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifichiamo se la quote line è di tipo condominio, in base alla valorizzazione del campo parent quote della quote</description>
        <name>Is_Quote_Line_Condominio</name>
        <label>Is Quote Line Condominio?</label>
        <locationX>1452</locationX>
        <locationY>2591</locationY>
        <defaultConnector>
            <targetReference>Cicla_quote_line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cicla_quote_line.SBQQ__Quote__r.ParentQuote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Quote_Line_Total</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Switch logica per codice prodotto della quote line</description>
        <name>Product_Code</name>
        <label>Product Code</label>
        <locationX>1452</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Is_Quote_Line_Condominio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ARCCONT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cicla_quote_line.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARCCONT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_campi_per_ARCCONT</targetReference>
            </connector>
            <label>ARCCONT</label>
        </rules>
        <rules>
            <name>ARCCONTICK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cicla_quote_line.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARCCONTICK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_campi_per_ARCCONTICK</targetReference>
            </connector>
            <label>ARCCONTICK</label>
        </rules>
        <rules>
            <name>ARCDATI_ARCDATI_RN</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cicla_quote_line.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARCDATI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cicla_quote_line.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARCDATI_RN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_campi_per_ARCDATI_ARCDATI_RN</targetReference>
            </connector>
            <label>ARCDATI+ARCDATI_RN</label>
        </rules>
        <rules>
            <name>ARCPERS_ARCPERS_RN</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cicla_quote_line.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARCPERS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cicla_quote_line.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARCPERS_RN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_campi_per_ARCPERS_ARCPERS_RN</targetReference>
            </connector>
            <label>ARCPERS+ARCPERS_RN</label>
        </rules>
        <rules>
            <name>ARCTICK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cicla_quote_line.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARCTICK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_campi_per_ARCTICK</targetReference>
            </connector>
            <label>ARCTICK</label>
        </rules>
        <rules>
            <name>ARCTRIAL_ARCUTEN</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cicla_quote_line.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARCTRIAL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cicla_quote_line.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARCUTEN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_campi_per_ARCTRIAL_ARCUTEN</targetReference>
            </connector>
            <label>ARCTRIAL+ARCUTEN</label>
        </rules>
        <rules>
            <name>FATTELE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cicla_quote_line.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FATTELE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_campi_per_FATTELE</targetReference>
            </connector>
            <label>FATTELE</label>
        </rules>
        <rules>
            <name>PREMANNPOLMAT_PSPOLTUTLEGA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cicla_quote_line.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREMANNPOLMAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cicla_quote_line.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSPOLTUTLEGA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_campi_per_PREMANNPOLMAT_PSPOLTUTLEGA</targetReference>
            </connector>
            <label>PREMANNPOLMAT+PSPOLTUTLEGA</label>
        </rules>
        <rules>
            <name>PRIV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cicla_quote_line.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PRIV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_campi_per_PRIV</targetReference>
            </connector>
            <label>PRIV</label>
        </rules>
    </decisions>
    <description>Updates: efficientamento loop quote line</description>
    <environments>Default</environments>
    <interviewLabel>Quote - Imposta campi per AllegatoA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Imposta campi per AllegatoA</label>
    <loops>
        <name>Cicla_quote_line</name>
        <label>Cicla quote line</label>
        <locationX>176</locationX>
        <locationY>2135</locationY>
        <collectionReference>AllQuoteLine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assegna_Numero_Condomini</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Cicliamo le quote condominio per recuperare le quote line e aggiungerle alla lista. Con la winter &apos;23 si potrà sostituire questo loop con la condizione IN direttamente nella query delle quote line</description>
        <name>Loop_Quote_Condominio</name>
        <label>Loop Quote Condominio</label>
        <locationX>176</locationX>
        <locationY>1007</locationY>
        <collectionReference>Get_Quote_Condominio</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Documents_has_been_generated2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_list_is_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get delle quote condominio associate alla quote amministratore (che è quella che ha fatto scattare il flow)</description>
        <name>Get_Quote_Condominio</name>
        <label>Get Quote Condominio</label>
        <locationX>176</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Condominio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentQuote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_quote_line</name>
        <label>get quote line</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Quote_Line_Amministratore_to_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Recuperiamo le quote line della quote condominio e le aggiungiamo alla lista</description>
        <name>Get_Quote_Line_Condominio</name>
        <label>Get Quote Line Condominio</label>
        <locationX>264</locationX>
        <locationY>1799</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Quote_Line_Condominio_to_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>In</operator>
            <value>
                <elementReference>QuoteCondominioIDList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Documents_has_been_generated</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND (2 OR 4)</filterLogic>
        <filters>
            <field>PricebookType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bsb</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentQuote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Lista di tutte le quote line: amministratore + condomini</description>
        <name>AllQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <description>Variabile di controllo per decidere se deve essere generata la Namirial Envelope, una volta che tutti i documenti sono stati generati</description>
        <name>CheckCreateNamirialEnvelope</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>fatturaElettronica</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>importazioneDati</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ModuloScelto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Modulo_Scelto__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>NumeroCondomini</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumeroServiziPerCondomini</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumeroUtenti</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OreFormazionePersonalizzata</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>polizzaTutelaLegale</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Privacy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuoteCondominioIDList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiziPerCondomini</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Ammontare totale delle quote line condominio</description>
        <name>TotaleQuoteLineCondominio</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
