force-app/main/default/flows/Quote_Acquisto_Servizi.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Utente_integrazione</name>
        <label>Utente integrazione</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 3 AND (2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$User.IntegrationUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__NetAmount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payment_Success</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Quote - Acquisto Servizi {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Acquisto Servizi</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payment_Success</name>
        <label>Get Payment Success</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Utente_integrazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gateway_Status_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_0</name>
        <label>Update Quote</label>
        <locationX>242</locationX>
        <locationY>528</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>PricebookType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SdR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipologia_Contratto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Servizi_di_Ricarica</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__LineItemCount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Ordered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Uncalculated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Payment_Success</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>250</triggerOrder>
</Flow>
