force-app/main/default/flows/Set_Customer_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Customer_Address_0</name>
        <label>Set Customer Address</label>
        <locationX>286</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>Get_Account_0.CustomerAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Address_0_0</name>
        <label>Set Customer Address</label>
        <locationX>814</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Account_0_0.CustomerAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Address_0_0_0</name>
        <label>Set Customer Address</label>
        <locationX>1342</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>Get_Account_0_0_0.CustomerAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Address_0_0_0_0</name>
        <label>Set Customer Address</label>
        <locationX>83</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>Get_Account_0_0_0_0.Indirizzo_Sede_Operativa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Address_0_0_0_0_0</name>
        <label>Set Customer Address</label>
        <locationX>1670</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>Get_Account_0_0_0_0_0.Indirizzo_Sede_Operativa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Customer_Address</name>
        <label>Check Customer Address</label>
        <locationX>885</locationX>
        <locationY>745</locationY>
        <defaultConnectorLabel>Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_0_0.CustomerAddress__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Address_0_0</targetReference>
            </connector>
            <label>Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Address_0</name>
        <label>Check Customer Address</label>
        <locationX>1474</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>Is_Changed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_0_0_0.CustomerAddress__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Address_0_0_0</targetReference>
            </connector>
            <label>Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Address_0_0</name>
        <label>Check Customer Address</label>
        <locationX>1395</locationX>
        <locationY>317</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>updateOk</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_0_0_0_0_0.FormaAnagrafica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONDOMINIO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_0_0_0_0_0.FormaAnagrafica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONDOMINIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Address_0_0_0_0_0</targetReference>
            </connector>
            <label>updateOk</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Address_0_0_0</name>
        <label>Check Customer Address</label>
        <locationX>237</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>InsertOK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_0_0_0_0.FormaAnagrafica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONDOMINIO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_0_0_0_0.FormaAnagrafica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONDOMINIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Address_0_0_0_0</targetReference>
            </connector>
            <label>InsertOK</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Update</name>
        <label>New/Update</label>
        <locationX>863</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Residenza_Sede_Legale_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Residenza_Sede_Legale</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Residenza_Sede_Legale</name>
        <label>Prior Residenza/Sede Legale</label>
        <locationX>1672</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Residenza_Sede_Legale</name>
        <label>Residenza/Sede Legale</label>
        <locationX>418</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RSL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Condomini</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_0_0_0_0</targetReference>
            </connector>
            <label>Condomini</label>
        </rules>
    </decisions>
    <decisions>
        <name>Residenza_Sede_Legale_0</name>
        <label>Residenza/Sede Legale</label>
        <locationX>1309</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>Prior_Residenza_Sede_Legale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RSL_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Condomini_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_0_0_0_0_0</targetReference>
            </connector>
            <label>Condomini Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Set Customer Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Address - Set Customer Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_0</name>
        <label>Get Account</label>
        <locationX>286</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Customer_Address_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_0_0</name>
        <label>Get Account</label>
        <locationX>946</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Customer_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_0_0_0</name>
        <label>Get Account</label>
        <locationX>1474</locationX>
        <locationY>743</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Customer_Address_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_0_0_0_0</name>
        <label>Get Account</label>
        <locationX>424</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Customer_Address_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_0_0_0_0_0</name>
        <label>Get Account</label>
        <locationX>1176</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Customer_Address_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_0</name>
        <label>Update Account</label>
        <locationX>286</locationX>
        <locationY>863</locationY>
        <inputReference>Get_Account_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_0_0</name>
        <label>Update Account</label>
        <locationX>814</locationX>
        <locationY>983</locationY>
        <inputReference>Get_Account_0_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_0_0_0</name>
        <label>Update Account</label>
        <locationX>1342</locationX>
        <locationY>1103</locationY>
        <inputReference>Get_Account_0_0_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_0_0_0_0</name>
        <label>Update Account</label>
        <locationX>86</locationX>
        <locationY>571</locationY>
        <inputReference>Get_Account_0_0_0_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_0_0_0_0_0</name>
        <label>Update Account</label>
        <locationX>1671</locationX>
        <locationY>474</locationY>
        <inputReference>Get_Account_0_0_0_0_0</inputReference>
    </recordUpdates>
    <start>
        <locationX>737</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>New_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LockSync__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Address__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
