force-app/main/default/flows/Set_Asset_External_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>External_Id_Card_Number</name>
        <label>External Id = Card Number</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.ExternalID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CardNumber__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>External_Id_ID_RFID</name>
        <label>External Id = ID RFID</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.ExternalID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IDRFID__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>External_Id_UID_RFID</name>
        <label>External Id = UID RFID</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.ExternalID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UIDRFID__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Card_Number</name>
        <label>Card Number</label>
        <locationX>281</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>ID_RFID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Full</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CardNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>External_Id_Card_Number</targetReference>
            </connector>
            <label>Full</label>
        </rules>
    </decisions>
    <decisions>
        <name>ID_RFID</name>
        <label>ID RFID</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>UID_RFID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Full_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDRFID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>External_Id_ID_RFID</targetReference>
            </connector>
            <label>Full</label>
        </rules>
    </decisions>
    <decisions>
        <name>UID_RFID</name>
        <label>UID RFID</label>
        <locationX>710</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Full_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UIDRFID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>External_Id_UID_RFID</targetReference>
            </connector>
            <label>Full</label>
        </rules>
    </decisions>
    <interviewLabel>Set Asset External ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset - Set Asset External ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Card_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
