force-app/main/default/flows/Set_Vat_Code_on_Invoice_Line.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Tax_Country_Vat_Code</name>
        <label>Set Tax Country/Vat Code</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__TaxCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__UsageSummary__r.blng__OrderItemConsumptionSchedule__r.TaxCountry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.VATCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tax_Rate_From_US.VATCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NaturaSDI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tax_Rate_From_US.NaturaSDI__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Vat_Code</name>
        <label>Set Vat Code</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.VATCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tax_Rate.VATCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NaturaSDI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tax_Rate.NaturaSDI__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Tax_Rate_found</name>
        <label>Tax Rate found</label>
        <locationX>710</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tax_Rate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Vat_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tax_Rate_found_0</name>
        <label>Tax Rate found</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tax_Rate_From_US</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tax_Country_Vat_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usage_Summary</name>
        <label>Usage Summary?</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Get_Tax_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No US</defaultConnectorLabel>
        <rules>
            <name>Yes_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__UsageSummary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tax_Rate_From_US</targetReference>
            </connector>
            <label>Yes US</label>
        </rules>
    </decisions>
    <interviewLabel>Set Vat Code on Invoice Line {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Line - Set Vat Code on Invoice Line</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Tax_Rate</name>
        <label>Get Tax Rate</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tax_Rate_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__TaxCountry__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__TaxRate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tax_Rate_From_US</name>
        <label>Get Tax Rate From US</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tax_Rate_found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__UsageSummary__r.blng__OrderItemConsumptionSchedule__r.TaxCountry__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__TaxRate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Usage_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__TaxCountry__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>blng__InvoiceLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
