force-app/main/default/flows/Set_Tax_Country_on_OrderItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Tax_Country</name>
        <label>Set Tax Country - Tipologia</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__TaxCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.VATManagementType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_is_PA_or_with_SplitPayment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Country_Account_Region</name>
        <label>Set Tax Country - Account Region</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Order.Account.AccountRegion__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Tax_Country_Account_RT</name>
        <label>Set Tax Country - Account RT</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Order.Account.RecordType.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Tax_Country_Account_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Country_PA</name>
        <label>Set Tax Country - PA</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__TaxCountry__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Tax_Country_Account_Region</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_is_PA_or_with_SplitPayment</name>
        <label>Account is PA or with SplitPayment</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Set_Tax_Country_Account_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PA</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Account.FormaAnagrafica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Account.SplitPayment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Account.Nation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tax_Country_PA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_and_Order_found</name>
        <label>Product and Order found</label>
        <locationX>380</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tax_Country</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>fix per account diverso da PA con SplitPayment</description>
    <environments>Default</environments>
    <interviewLabel>Set Tax Country on OrderItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Item - Set Tax Country on OrderItem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_and_Order_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
