force-app/main/default/flows/Set_Rappresentante_Legale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Rappresentante_Legale</name>
        <label>Set Rappresentante Legale</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Rappresentante_legale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Rappresentante_Legale_0</name>
        <label>Set Rappresentante Legale</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_Account_0.Rappresentante_legale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Rappresentante_Legale_0_0</name>
        <label>Set Rappresentante Legale</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_Account_0_0.Rappresentante_legale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Rappresentante_Legale</name>
        <label>Check Rappresentante Legale</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>RL is not changed</defaultConnectorLabel>
        <rules>
            <name>RL_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_0.Rappresentante_legale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rappresentante_Legale_0</targetReference>
            </connector>
            <label>RL is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Rappresentante_Legale_0</name>
        <label>Check Rappresentante Legale</label>
        <locationX>1238</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>RL is not changed</defaultConnectorLabel>
        <rules>
            <name>RL_is_changed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_0_0.Rappresentante_legale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rappresentante_Legale_0_0</targetReference>
            </connector>
            <label>RL is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Update</name>
        <label>New/Update</label>
        <locationX>627</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Rappresentante_Legale_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rappresentante_Legale</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Rappresentate_Legale</name>
        <label>Prior Rappresentate Legale</label>
        <locationX>1436</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_prior_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rappresentante_Legale</name>
        <label>Rappresentante Legale</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rappresentante_Legale_0</name>
        <label>Rappresentante Legale</label>
        <locationX>1073</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Prior_Rappresentate_Legale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Set Rappresentante Legale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACR - Set Rappresentante Legale</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Rappresentante_Legale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_0</name>
        <label>Get Account</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Rappresentante_Legale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_0_0</name>
        <label>Get Account</label>
        <locationX>1238</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Rappresentante_Legale_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_0</name>
        <label>Update Account</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <inputReference>Get_Account_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_0_0</name>
        <label>Update Account</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <inputReference>Get_Account_0_0</inputReference>
    </recordUpdates>
    <start>
        <locationX>501</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
