force-app/main/default/flows/Set_Account_External_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_External_Id_Fiscal_Code</name>
        <label>Set External Id - Fiscal Code</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.ExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>fiscalcode_</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ExternalId__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FiscalCode__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_External_Id_Vat_Number</name>
        <label>Set External Id - Vat Number</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.ExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>vatnumber_</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ExternalId__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.VatNumber__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Key_field</name>
        <label>Key field</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Fiscal_code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FiscalCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_External_Id_Fiscal_Code</targetReference>
            </connector>
            <label>Fiscal code</label>
        </rules>
        <rules>
            <name>Vat_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VatNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_External_Id_Vat_Number</targetReference>
            </connector>
            <label>Vat Number</label>
        </rules>
    </decisions>
    <interviewLabel>Set Account External Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Set Account External Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Key_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
