force-app/main/default/flows/Set_ACR_Roles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Roles</name>
        <label>Set Roles</label>
        <locationX>248</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>Get_Account_Contact_Relationship.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ACR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unique_Ids</name>
        <label>Set Unique Ids</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>IdSub</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IdSub__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdMobility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IdMobility__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DatamaxContactCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RL_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UW_Contact_fields</name>
        <label>Set UW Contact fields</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>UWContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UWContact.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UW</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UWContact.DatamaxContactCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UWDmxCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UWContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UWContact.FiscalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FiscalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UWContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UWContact.Fax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UWContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UWContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UWContact.NascitaLuogo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NascitaLuogo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UWContact.NascitaProvincia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NascitaProvincia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UWContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UWContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UWContact.IdSub__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdSub</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UWContact.IdMobility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdMobility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UWContact.DatamaxContactCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UW_Contact_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UW_Contact_Id</name>
        <label>Set UW Contact Id</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>UWContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_UW_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_UW_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ACR_found</name>
        <label>ACR found?</label>
        <locationX>380</locationX>
        <locationY>1607</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Contact_Relationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Roles</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Doppio_ruolo</name>
        <label>Doppio ruolo</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Contact_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_dr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RL/UW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Unique_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UW_Contact_found</name>
        <label>UW Contact found?</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Insert_UW_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_uwfound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UW_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UW_Contact_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UWDmxCode</name>
        <dataType>String</dataType>
        <expression>{!$Record.DatamaxContactCode__c}&amp;&apos;_UW&apos;</expression>
    </formulas>
    <interviewLabel>Set ACR Roles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Set ACR Roles</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_UW_Contact</name>
        <label>Insert UW Contact</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Get_Account_Contact_Relationship</targetReference>
        </connector>
        <inputReference>UWContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Contact_Relationship</name>
        <label>Get ACR</label>
        <locationX>380</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ACR_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Role__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UW_Contact</name>
        <label>Get UW Contact</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_UW_Contact_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DatamaxContactCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UWDmxCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ACR</name>
        <label>Update ACR</label>
        <locationX>248</locationX>
        <locationY>1847</locationY>
        <inputReference>Get_Account_Contact_Relationship</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RL_Contact</name>
        <label>Update RL Contact</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_UW_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>DatamaxContactCode__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdMobility__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdSub__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>RL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UW_Contact</name>
        <label>Update UW Contact</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Get_Account_Contact_Relationship</targetReference>
        </connector>
        <inputReference>UWContact</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Doppio_ruolo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdMobility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdSub</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UWContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
