force-app/main/default/flows/Set_Matching_ID_Usage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Copy_1_of_set_flag_casistiche</name>
        <label>Copy 1 of set flag casistiche</label>
        <locationX>1958</locationX>
        <locationY>3563</locationY>
        <assignmentItems>
            <assignToReference>Check_Casistiche</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Prerated_Fields_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_number_to_add_1</name>
        <label>Copy 1 of Set number to add 1</label>
        <locationX>2206</locationX>
        <locationY>10403</locationY>
        <assignmentItems>
            <assignToReference>number_to_add</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Increase_Date2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Date</name>
        <label>Increase Date</label>
        <locationX>1073</locationX>
        <locationY>8675</locationY>
        <assignmentItems>
            <assignToReference>Date</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>number_to_add</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Date2</name>
        <label>Increase Date</label>
        <locationX>2371</locationX>
        <locationY>9611</locationY>
        <assignmentItems>
            <assignToReference>Date2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>number_to_add</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_date2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Prerated_Fields</name>
        <label>Populate Prerated Fields</label>
        <locationX>1826</locationX>
        <locationY>11423</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__PreratedAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prerated_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__PreratedQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prerated_Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Prerated_Fields_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Prerated_Fields_0_0_0_0</name>
        <label>Populate Prerated Fields</label>
        <locationX>1958</locationX>
        <locationY>3683</locationY>
        <assignmentItems>
            <assignToReference>Prerated_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaPreratedAmountEvergreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Prerated_Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>valorizzare_il_campo_prerated_unit_price_evergreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Prerated_Fields_0_0_0_0_0_0_0_0_0</name>
        <label>Populate Prerated Fields</label>
        <locationX>1826</locationX>
        <locationY>11543</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__Quantity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__Subtotal__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_flag_casistiche</name>
        <label>set flag casistiche</label>
        <locationX>1166</locationX>
        <locationY>3083</locationY>
        <assignmentItems>
            <assignToReference>Check_Casistiche</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Prerated_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Friday_Checks_true</name>
        <label>Set Friday Checks true</label>
        <locationX>941</locationX>
        <locationY>7211</locationY>
        <assignmentItems>
            <assignToReference>Check_Friday_BH</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Saturday_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Holidays_List</name>
        <label>Set Holidays List</label>
        <locationX>1161</locationX>
        <locationY>8339</locationY>
        <assignmentItems>
            <assignToReference>Holidays_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Holidays.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Holidays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_List_Size</name>
        <label>Set List Size</label>
        <locationX>1073</locationX>
        <locationY>5051</locationY>
        <assignmentItems>
            <assignToReference>CPO_Provider_List_Size</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Voci_Listino_CPO_Provider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Default_List_Size</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Voci_Listino_default</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Ricerca_Voci_Listino</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Macthing_Id_Blank_Error_Message_And_Status</name>
        <label>Set Macthing Id Blank Error Message And Status</label>
        <locationX>2261</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__ErrorMessage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Usage_Penalty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Matching_ID_0</name>
        <label>Set Matching ID</label>
        <locationX>1254</locationX>
        <locationY>2591</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Usage_Summary.blng__MatchingId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Consumo_ricaricabile_kWh_Ultrafast_Free_charge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Matching_ID_evergreen</name>
        <label>Set Matching ID evergreen</label>
        <locationX>2046</locationX>
        <locationY>3071</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Usage_Summary_Evergreen.blng__MatchingId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Consumo_ricaricabile_kWh_Ultrafast_Free_charge_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Matching_ID_not_found</name>
        <label>Set Matching ID - not found</label>
        <locationX>1337</locationX>
        <locationY>5291</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>notfound</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Matching_ID_not_found_0</name>
        <label>Set Matching ID - not found</label>
        <locationX>2750</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>notfound</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Matching_ID_not_found_evergreen</name>
        <label>Set Matching ID - not found evergreen</label>
        <locationX>2486</locationX>
        <locationY>2831</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>notfound</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Matching_ID_OnHolding</name>
        <label>Set_Matching_ID_OnHolding</label>
        <locationX>1117</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ON HOLDING</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Usage_Penalty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Monday_Checks_true</name>
        <label>Set Monday Checks true</label>
        <locationX>941</locationX>
        <locationY>5867</locationY>
        <assignmentItems>
            <assignToReference>Check_Monday_BH</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Tuesday_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_number_to_add_1</name>
        <label>Set number to add 1</label>
        <locationX>314</locationX>
        <locationY>9251</locationY>
        <assignmentItems>
            <assignToReference>number_to_add</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Increase_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Product_Id</name>
        <label>Set Order Product Id</label>
        <locationX>1166</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>Order_Product_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Usage_Summary.blng__OrderProduct__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Matching_Id_ON_HOLDING</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Product_Id_0</name>
        <label>Set Order Product Id</label>
        <locationX>1958</locationX>
        <locationY>2831</locationY>
        <assignmentItems>
            <assignToReference>Order_Product_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Usage_Summary_Evergreen.blng__OrderProduct__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Matching_Id_ON_HOLD_Evergreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Penalty_Check</name>
        <label>Set Penalty Check</label>
        <locationX>1694</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>Penalty_Check</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Usage_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Point_coop_default_to_zero</name>
        <label>Set Point coop default to zero</label>
        <locationX>2349</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.CoopPoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Macthing_Id_Blank_Error_Message_And_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Prerated_Amount</name>
        <label>Set Prerated Amount</label>
        <locationX>1700</locationX>
        <locationY>11015</locationY>
        <assignmentItems>
            <assignToReference>Prerated_Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Prerated_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prerated_Amount_MaxPricing_Coop_FreeCharge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Prerated_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Prerated_Amount_0</name>
        <label>Set Prerated Amount</label>
        <locationX>1964</locationX>
        <locationY>11015</locationY>
        <assignmentItems>
            <assignToReference>Prerated_Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Prerated_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prerated_Amount_MaxPricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Prerated_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Prerated_Fields</name>
        <label>Set Prerated Fields</label>
        <locationX>1166</locationX>
        <locationY>3203</locationY>
        <assignmentItems>
            <assignToReference>Prerated_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaPreratedAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Prerated_Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>valorizzare_il_campo_prerated_unit_price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pricing</name>
        <label>Set Pricing</label>
        <locationX>1920</locationX>
        <locationY>10091</locationY>
        <assignmentItems>
            <assignToReference>Max_Pricing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Voci_Listino_Pay_per_Use.Pricing__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Set_number_to_add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Saturday_Checks_true</name>
        <label>Set Saturday Checks true</label>
        <locationX>941</locationX>
        <locationY>7547</locationY>
        <assignmentItems>
            <assignToReference>Check_Saturday_BH</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Sunday_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_StartDateTime</name>
        <label>Set StartDateTime</label>
        <locationX>1073</locationX>
        <locationY>8555</locationY>
        <assignmentItems>
            <assignToReference>Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_StartDateTime2</name>
        <label>StartDateTime</label>
        <locationX>2371</locationX>
        <locationY>9491</locationY>
        <assignmentItems>
            <assignToReference>Date2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>number_to_add</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Date2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sunday_Checks_true</name>
        <label>Set Sunday Checks true</label>
        <locationX>941</locationX>
        <locationY>7883</locationY>
        <assignmentItems>
            <assignToReference>Check_Sunday_BH</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Holidays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Thursday_Checks_true</name>
        <label>Set Thursday Checks true</label>
        <locationX>941</locationX>
        <locationY>6875</locationY>
        <assignmentItems>
            <assignToReference>Check_Thursday_BH</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Friday_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tuesday_Checks_true</name>
        <label>Set Tuesday Checks true</label>
        <locationX>941</locationX>
        <locationY>6203</locationY>
        <assignmentItems>
            <assignToReference>Check_Tuesday_BH</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Wednesday_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Voci_Listino_All</name>
        <label>Set Voci Listino All</label>
        <locationX>1436</locationX>
        <locationY>9035</locationY>
        <assignmentItems>
            <assignToReference>Voci_Listino_Pay_per_Use_Final_List</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Voci_Listino_Pay_per_Use_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Voci_Listino_Pay_per_Use</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Voci_Listino_List</name>
        <label>Set Voci Listino List</label>
        <locationX>1073</locationX>
        <locationY>5291</locationY>
        <assignmentItems>
            <assignToReference>Voci_Listino_Pay_per_Use_List</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Voci_Listino_default</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Business_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Voci_Listino_List0</name>
        <label>Set Voci Listino List</label>
        <locationX>809</locationX>
        <locationY>5291</locationY>
        <assignmentItems>
            <assignToReference>Voci_Listino_Pay_per_Use_List</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Voci_Listino_CPO_Provider</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Business_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Voci_Listino_Only_Holidays</name>
        <label>Set Voci Listino Only Holidays</label>
        <locationX>1964</locationX>
        <locationY>9155</locationY>
        <assignmentItems>
            <assignToReference>Voci_Listino_Pay_per_Use_Final_List</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Voci_Listino_Filter_Holidays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Voci_Listino_Pay_per_Use</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Voci_Listino_Only_Weekdays</name>
        <label>Set Voci Listino Only Weekdays</label>
        <locationX>1700</locationX>
        <locationY>9155</locationY>
        <assignmentItems>
            <assignToReference>Voci_Listino_Pay_per_Use_Final_List</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Voci_Listino_Filter_Weekdays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Voci_Listino_Pay_per_Use</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Wednesday_Checks_true</name>
        <label>Set Wednesday Checks true</label>
        <locationX>941</locationX>
        <locationY>6539</locationY>
        <assignmentItems>
            <assignToReference>Check_Wednesday_BH</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Thursday_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>There_is_a_Holiday</name>
        <label>There is a Holiday</label>
        <locationX>50</locationX>
        <locationY>9035</locationY>
        <assignmentItems>
            <assignToReference>Holiday_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_number_to_add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>There_is_a_Sunday</name>
        <label>There is a Sunday</label>
        <locationX>314</locationX>
        <locationY>9035</locationY>
        <assignmentItems>
            <assignToReference>Sunday_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_number_to_add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>There_is_a_Weekday</name>
        <label>There is a Weekday</label>
        <locationX>578</locationX>
        <locationY>9035</locationY>
        <assignmentItems>
            <assignToReference>Weekday_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_number_to_add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>valorizzare_il_campo_prerated_unit_price</name>
        <label>valorizzare il campo prerated unit price</label>
        <locationX>1166</locationX>
        <locationY>3323</locationY>
        <assignmentItems>
            <assignToReference>$Record.PreratedUnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Consumption_Rate.SBQQ__Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>valorizzare_il_campo_prerated_unit_price_con_max_pricing</name>
        <label>valorizzare il campo prerated unit price con max pricing</label>
        <locationX>1832</locationX>
        <locationY>10775</locationY>
        <assignmentItems>
            <assignToReference>$Record.PreratedUnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Max_Pricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_punti_e_free_charge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>valorizzare_il_campo_prerated_unit_price_evergreen</name>
        <label>valorizzare il campo prerated unit price(evergreen)</label>
        <locationX>1958</locationX>
        <locationY>3803</locationY>
        <assignmentItems>
            <assignToReference>$Record.PreratedUnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_Consumption_Rate_Evergreen.SBQQ__Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_order_Product</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Voci_Listino_CPO_Provider</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Voci Listino CPO = Provider</label>
        <locationX>1073</locationX>
        <locationY>4811</locationY>
        <assignNextValueToReference>currentItem_Voci_Listino_CPO_Provider</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Voci_di_Listino</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Voci_Listino_CPO_Provider.CPO__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Provider__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Voci_Listino_default</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Voci_Listino_default</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Voci Listino default</label>
        <locationX>1073</locationX>
        <locationY>4931</locationY>
        <assignNextValueToReference>currentItem_Voci_Listino_default</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Voci_di_Listino</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Voci_Listino_default.CPO__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Tariffa default</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_List_Size</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Voci_Listino_Filter_Holidays</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Voci Listino Filter Holidays</label>
        <locationX>1964</locationX>
        <locationY>9035</locationY>
        <assignNextValueToReference>currentItem_Voci_Listino_Filter_Holidays</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Voci_Listino_Pay_per_Use_List</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Voci_Listino_Filter_Holidays.DayType__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Festivo</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Voci_Listino_Only_Holidays</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Voci_Listino_Filter_Weekdays</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Voci Listino Filter Weekdays</label>
        <locationX>1700</locationX>
        <locationY>9035</locationY>
        <assignNextValueToReference>currentItem_Voci_Listino_Filter_Holidays</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Voci_Listino_Pay_per_Use_List</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Voci_Listino_Filter_Holidays.DayType__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Feriale</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Voci_Listino_Only_Weekdays</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>VAT</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.22</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Associazione_Listino_Prodotto_found</name>
        <label>Associazione Listino-Prodotto found?</label>
        <locationX>1826</locationX>
        <locationY>4451</locationY>
        <defaultConnector>
            <targetReference>Check_casistiche_or_end</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associazione_Listino_Prodotto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Listino_Pay_per_Use</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_casistiche_or_end</name>
        <label>Check casistiche or end</label>
        <locationX>2580</locationX>
        <locationY>4571</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Casistiche</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Prerated_Fields</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consumo_ricaricabile_kWh_Ultrafast_Free_charge</name>
        <label>Check Consumo/ricaricabile-kWh/Ultrafast-Free charge</label>
        <locationX>1166</locationX>
        <locationY>2807</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_order_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consumo_kWh_Free_charge</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Usage_Summary.blng__Order__r.ContractType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kWh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FreeChargeIndex__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoopPoint__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_flag_casistiche</targetReference>
            </connector>
            <label>Consumo-kWh-Free charge</label>
        </rules>
        <rules>
            <name>Consumo_UltraFast_Free_Charge</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Usage_Summary.blng__Order__r.ContractType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ultrafast</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FreeChargeIndex__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoopPoint__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_flag_casistiche</targetReference>
            </connector>
            <label>Consumo-UltraFast-Free Charge</label>
        </rules>
        <rules>
            <name>Ricaricabile_UltraFast_Free_charge</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Usage_Summary.blng__Order__r.ContractType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ricaricabile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ultrafast</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FreeChargeIndex__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoopPoint__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_flag_casistiche</targetReference>
            </connector>
            <label>Ricaricabile-UltraFast- Free charge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consumo_ricaricabile_kWh_Ultrafast_Free_charge_0</name>
        <label>Check Consumo/ricaricabile-kWh/Ultrafast-Free charge</label>
        <locationX>1958</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_order_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consumo_kWh_Free_charge_0</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Usage_Summary_Evergreen.blng__Order__r.ContractType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kWh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FreeChargeIndex__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoopPoint__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_set_flag_casistiche</targetReference>
            </connector>
            <label>Consumo-kWh-Free charge</label>
        </rules>
        <rules>
            <name>Consumo_UltraFast_Free_Charge_0</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Usage_Summary_Evergreen.blng__Order__r.ContractType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ultrafast</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FreeChargeIndex__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoopPoint__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_set_flag_casistiche</targetReference>
            </connector>
            <label>Consumo-Ultrafast-Free change</label>
        </rules>
        <rules>
            <name>Ricaricabile_UltraFast_Free_charge_0</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Usage_Summary_Evergreen.blng__Order__r.ContractType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ricaricabile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ultrafast</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FreeChargeIndex__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoopPoint__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_set_flag_casistiche</targetReference>
            </connector>
            <label>Ricaricabile-UltraFast-Free charge</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_festivi_o_feriali</name>
        <label>check festivi o feriali</label>
        <locationX>2206</locationX>
        <locationY>9851</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_number_to_add_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>controllo_range_time</name>
            <conditionLogic>(1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 or 9) ) OR (10 AND (NOT(2) AND NOT(3) AND NOT(4) AND NOT(5) AND NOT(6) AND NOT(7) AND NOT(8) AND NOT(9) ) )</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Voci_Listino_Pay_per_Use.DayType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Festivo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Monday_date2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Tuesday_date2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Wednesday_date2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Thursday_date2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Friday_date2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Saturday_date2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Sunday_date2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Holidays_List</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Date2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Voci_Listino_Pay_per_Use.DayType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Feriale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_max_pricing</targetReference>
            </connector>
            <label>controllo range time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_max_pricing</name>
        <label>Check max pricing</label>
        <locationX>2052</locationX>
        <locationY>9971</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_number_to_add_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less Then</defaultConnectorLabel>
        <rules>
            <name>Greater_then</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Max_Pricing</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_Voci_Listino_Pay_per_Use.Pricing__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DateTimeStart</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.blng__EndDateTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DateTimeEnd</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.blng__StartDateTime__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pricing</targetReference>
            </connector>
            <label>Greater then</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_point_coop_or_paid_by_batch</name>
        <label>check point coop or paid by batch</label>
        <locationX>2261</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Set_Point_coop_default_to_zero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Point_coop_usage</name>
            <conditionLogic>2 AND  3 AND  (1 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoopPoint__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UsageSystem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kWh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaidByBatch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Macthing_Id_Blank_Error_Message_And_Status</targetReference>
            </connector>
            <label>Point coop usage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_punti_e_free_charge</name>
        <label>Check punti e free charge</label>
        <locationX>1832</locationX>
        <locationY>10895</locationY>
        <defaultConnector>
            <targetReference>Set_Prerated_Amount_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Check_punti_e_free_charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Casistiche</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Prerated_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Ricerca_Voci_Listino</name>
        <label>Check Ricerca Voci Listino</label>
        <locationX>1073</locationX>
        <locationY>5171</locationY>
        <defaultConnector>
            <targetReference>Set_Matching_ID_not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not found</defaultConnectorLabel>
        <rules>
            <name>Voci_Listino_CPO_Provider_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CPO_Provider_List_Size</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Voci_Listino_List0</targetReference>
            </connector>
            <label>Voci Listino CPO - Provider found</label>
        </rules>
        <rules>
            <name>Voci_Listino_Default_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CPO_Provider_List_Size</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Default_List_Size</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Voci_Listino_List</targetReference>
            </connector>
            <label>Voci Listino Default found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Usage_Summary_Evergreen</name>
        <label>Check usage Summary Evergreen</label>
        <locationX>2486</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>Set_Matching_ID_not_found_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__OrderProduct__r.SBQQ__SubscriptionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evergreen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__OrderProduct__r.Product2.DailyBilling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Usage_Summary_Evergreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Usage_Summary_Evergreen_0</name>
        <label>Check usage Summary Evergreen</label>
        <locationX>2222</locationX>
        <locationY>2711</locationY>
        <defaultConnector>
            <targetReference>Set_Matching_ID_not_found_evergreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Usage_Summary_Evergreen</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Product_Id_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>contract_exist</name>
        <label>contract exist</label>
        <locationX>1403</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Usage_Penalty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_contract_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contract_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_product_coop</targetReference>
            </connector>
            <label>Yes contract exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_is_a_Holiday_Sunday</name>
        <label>Date is a Holiday/Sunday?</label>
        <locationX>314</locationX>
        <locationY>8915</locationY>
        <defaultConnector>
            <targetReference>There_is_a_Weekday</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is a Weekday</defaultConnectorLabel>
        <rules>
            <name>Yes_is_Holiday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Holidays_List</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>There_is_a_Holiday</targetReference>
            </connector>
            <label>Yes is Holiday</label>
        </rules>
        <rules>
            <name>Yes_is_Sunday1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Check_Monday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Tuesday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Wednesday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Thursday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Friday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Saturday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Sunday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>There_is_a_Sunday</targetReference>
            </connector>
            <label>Yes is Sunday</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_product_coop</name>
        <label>has product coop</label>
        <locationX>1249</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Usage_Penalty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_has_product_coop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UsageSystem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_product_coop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kWh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Matching_ID_OnHolding</targetReference>
            </connector>
            <label>Yes has product coop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Insert</name>
        <label>Is Insert</label>
        <locationX>1826</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Is_Status_In_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsUpdate</defaultConnectorLabel>
        <rules>
            <name>IsInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_subscription</targetReference>
            </connector>
            <label>IsInsert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Matching_Id_ON_HOLDING</name>
        <label>Is Matching Id ON HOLDING</label>
        <locationX>1166</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>Set_Matching_ID_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ON_HOLDING</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__MatchingId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON HOLDING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Consumo_ricaricabile_kWh_Ultrafast_Free_charge</targetReference>
            </connector>
            <label>Yes ON HOLDING</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_In_Processed</name>
        <label>Is Status In  Processed</label>
        <locationX>2085</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>check_point_coop_or_paid_by_batch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <label>Yes In Processed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loop_date</name>
        <label>Loop date</label>
        <locationX>1073</locationX>
        <locationY>8795</locationY>
        <defaultConnector>
            <targetReference>which_list_items_to_take</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_less_than_or_equal_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>EndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_is_a_Holiday_Sunday</targetReference>
            </connector>
            <label>Date less than or equal End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loop_date2</name>
        <label>Loop date</label>
        <locationX>2371</locationX>
        <locationY>9731</locationY>
        <defaultConnector>
            <targetReference>Loop_Voci_Listino_Pay_per_Use</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_less_than_or_equal_End_Date2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date2</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>EndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_festivi_o_feriali</targetReference>
            </connector>
            <label>Date less than or equal End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_Id_ON_HOLD_Evergreen</name>
        <label>Matching Id ON HOLD Evergreen</label>
        <locationX>1958</locationX>
        <locationY>2951</locationY>
        <defaultConnector>
            <targetReference>Set_Matching_ID_evergreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__MatchingId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OnHolding</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Consumo_ricaricabile_kWh_Ultrafast_Free_charge_0</targetReference>
            </connector>
            <label>Yes On Hold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Friday_Check</name>
        <label>Set Friday Check</label>
        <locationX>1073</locationX>
        <locationY>7091</locationY>
        <defaultConnector>
            <targetReference>Set_Saturday_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Friday_no_weekday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Hours.FridayStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Friday_Checks_true</targetReference>
            </connector>
            <label>Friday no weekday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Monday_Check</name>
        <label>Set Monday Check</label>
        <locationX>1073</locationX>
        <locationY>5747</locationY>
        <defaultConnector>
            <targetReference>Set_Tuesday_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Monday_no_weekday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Hours.MondayStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Monday_Checks_true</targetReference>
            </connector>
            <label>Monday no weekday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Saturday_Check</name>
        <label>Set Saturday Check</label>
        <locationX>1073</locationX>
        <locationY>7427</locationY>
        <defaultConnector>
            <targetReference>Set_Sunday_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Saturday_no_weekday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Hours.SaturdayStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Saturday_Checks_true</targetReference>
            </connector>
            <label>Saturday no weekday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Sunday_Check</name>
        <label>Set Sunday Check</label>
        <locationX>1073</locationX>
        <locationY>7763</locationY>
        <defaultConnector>
            <targetReference>Get_Holidays</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sunday_no_weekday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Hours.SundayStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sunday_Checks_true</targetReference>
            </connector>
            <label>Sunday no weekday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Thursday_Check</name>
        <label>Set Thursday Check</label>
        <locationX>1073</locationX>
        <locationY>6755</locationY>
        <defaultConnector>
            <targetReference>Set_Friday_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Thursday_no_weekday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Hours.ThursdayStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Thursday_Checks_true</targetReference>
            </connector>
            <label>Thursday no weekday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Tuesday_Check</name>
        <label>Set Tuesday Check</label>
        <locationX>1073</locationX>
        <locationY>6083</locationY>
        <defaultConnector>
            <targetReference>Set_Wednesday_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tuesday_no_weekday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Hours.TuesdayStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tuesday_Checks_true</targetReference>
            </connector>
            <label>Tuesday no weekday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Wednesday_Check</name>
        <label>Set Wednesday Check</label>
        <locationX>1073</locationX>
        <locationY>6419</locationY>
        <defaultConnector>
            <targetReference>Set_Thursday_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wednesday_no_weekday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Hours.WednesdayStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Wednesday_Checks_true</targetReference>
            </connector>
            <label>Wednesday no weekday</label>
        </rules>
    </decisions>
    <decisions>
        <name>subscription_exist</name>
        <label>subscription exist</label>
        <locationX>1568</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Usage_Penalty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_record_subscription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contract_record</targetReference>
            </connector>
            <label>Yes exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usage_Penalty</name>
        <label>Usage Penalty?</label>
        <locationX>1826</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Get_Usage_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Penalty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Penalty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Penalty_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usage_Summary_found</name>
        <label>Usage Summary found?</label>
        <locationX>1826</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Check_Usage_Summary_Evergreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Usage_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Product_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>which_list_items_to_take</name>
        <label>which list items to take?</label>
        <locationX>1832</locationX>
        <locationY>8915</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Weekday_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Holiday_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sunday_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Voci_Listino_All</targetReference>
            </connector>
            <label>All</label>
        </rules>
        <rules>
            <name>Only_Weekdays</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Weekday_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Holiday_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sunday_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voci_Listino_Filter_Weekdays</targetReference>
            </connector>
            <label>Only Weekdays</label>
        </rules>
        <rules>
            <name>Only_Holidays</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Weekday_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Holiday_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sunday_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voci_Listino_Filter_Holidays</targetReference>
            </connector>
            <label>Only Holidays</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Check_Friday</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    AND (WEEKDAY({!Date}) =6, {!Check_Friday_BH} ),
true,false)</expression>
    </formulas>
    <formulas>
        <name>Check_Friday_date2</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    AND (WEEKDAY({!Date2}) =6, {!Check_Friday_BH} ),
true,false)</expression>
    </formulas>
    <formulas>
        <name>Check_Monday</name>
        <dataType>Boolean</dataType>
        <expression>IF( 
          AND (WEEKDAY({!Date}) =2, {!Check_Monday_BH} ),
true,false)</expression>
    </formulas>
    <formulas>
        <name>Check_Monday_date2</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    AND (WEEKDAY({!Date2}) =2, {!Check_Monday_BH} ),
true,false)</expression>
    </formulas>
    <formulas>
        <name>Check_Saturday</name>
        <dataType>Boolean</dataType>
        <expression>IF( 
	AND (WEEKDAY({!Date}) =7, {!Check_Saturday_BH} ) ,
true,false)</expression>
    </formulas>
    <formulas>
        <name>Check_Saturday_date2</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    AND (WEEKDAY({!Date2}) =7, {!Check_Saturday_BH} ),
true,false)</expression>
    </formulas>
    <formulas>
        <name>Check_Sunday</name>
        <dataType>Boolean</dataType>
        <expression>IF(  
    AND (WEEKDAY({!Date}) =1,{!Check_Sunday_BH} ),
true,false)</expression>
    </formulas>
    <formulas>
        <name>Check_Sunday_date2</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    AND (WEEKDAY({!Date2}) =1, {!Check_Sunday_BH} ),
true,false)</expression>
    </formulas>
    <formulas>
        <name>Check_Thursday</name>
        <dataType>Boolean</dataType>
        <expression>IF( 
	AND (WEEKDAY({!Date}) =5, {!Check_Thursday_BH} ),
true,false)</expression>
    </formulas>
    <formulas>
        <name>Check_Thursday_date2</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    AND (WEEKDAY({!Date2}) =5, {!Check_Thursday_BH} ),
true,false)</expression>
    </formulas>
    <formulas>
        <name>Check_Tuesday</name>
        <dataType>Boolean</dataType>
        <expression>IF(
        AND (WEEKDAY({!Date}) =3, {!Check_Tuesday_BH} ),
true,false)</expression>
    </formulas>
    <formulas>
        <name>Check_Tuesday_date2</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    AND (WEEKDAY({!Date2}) =3, {!Check_Tuesday_BH} ),
true,false)</expression>
    </formulas>
    <formulas>
        <name>Check_Wednesday</name>
        <dataType>Boolean</dataType>
        <expression>IF( 
    AND (WEEKDAY({!Date}) =4,{!Check_Wednesday_BH}),
true,false)</expression>
    </formulas>
    <formulas>
        <name>Check_Wednesday_date2</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    AND (WEEKDAY({!Date2}) =4, {!Check_Wednesday_BH} ),
true,false)</expression>
    </formulas>
    <formulas>
        <name>DateTimeEnd</name>
        <dataType>DateTime</dataType>
        <expression>{!Loop_Voci_Listino_Pay_per_Use.EndTimeFormula__c} +
IF(
DATEVALUE({!Loop_Voci_Listino_Pay_per_Use.EndTimeFormula__c}) &gt; DATEVALUE({!Loop_Voci_Listino_Pay_per_Use.EndTimeFormula__c} -{!Time_to_Subtract}),
 ({!Date2}-DATEVALUE({!Loop_Voci_Listino_Pay_per_Use.EndTimeFormula__c}))+1,
 ({!Date2}-DATEVALUE({!Loop_Voci_Listino_Pay_per_Use.EndTimeFormula__c}))
)</expression>
    </formulas>
    <formulas>
        <name>DateTimeStart</name>
        <dataType>DateTime</dataType>
        <expression>{!Loop_Voci_Listino_Pay_per_Use.StartTimeFormula__c} +
IF(
DATEVALUE({!Loop_Voci_Listino_Pay_per_Use.StartTimeFormula__c}) &lt; DATEVALUE({!Loop_Voci_Listino_Pay_per_Use.StartTimeFormula__c} +{!Time_to_Subtract}),
 ({!Date2}-DATEVALUE({!Loop_Voci_Listino_Pay_per_Use.StartTimeFormula__c}))-1,
 ({!Date2}-DATEVALUE({!Loop_Voci_Listino_Pay_per_Use.StartTimeFormula__c}))
)</expression>
    </formulas>
    <formulas>
        <name>Day</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY({!$Record.blng__OrderProduct__r.blng__NextBillingDate__c}))</expression>
    </formulas>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Penalty_Check} = true,
DATEVALUE({!$Record.PenaltyEndDateTime__c}),
DATEVALUE({!$Record.blng__EndDateTime__c})
)</expression>
    </formulas>
    <formulas>
        <name>FormulaPreratedAmount</name>
        <dataType>Currency</dataType>
        <expression>(({!$Record.blng__Quantity__c}*{!Get_Order_Product_Consumption_Rate.SBQQ__Price__c}) * (1-{!$Record.FreeChargeIndex__c})) - (IF(ISBLANK({!$Record.CoopPoint__c}),0,  {!$Record.CoopPoint__c}) * {!CoopValue})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaPreratedAmountEvergreen</name>
        <dataType>Currency</dataType>
        <expression>(({!$Record.blng__Quantity__c}*{!Get_Order_Product_Consumption_Rate_Evergreen.SBQQ__Price__c}) * (1-{!$Record.FreeChargeIndex__c})) - (IF(ISBLANK({!$Record.CoopPoint__c}),0,  {!$Record.CoopPoint__c}) * {!CoopValue})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Month</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!$Record.blng__OrderProduct__r.blng__NextBillingDate__c}))</expression>
    </formulas>
    <formulas>
        <name>Prerated_Amount_MaxPricing</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.blng__Quantity__c}*{!Max_Pricing}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Prerated_Amount_MaxPricing_Coop_FreeCharge</name>
        <dataType>Currency</dataType>
        <expression>(({!$Record.blng__Quantity__c}*{!Max_Pricing}) * (1-{!$Record.FreeChargeIndex__c})) - (IF(ISBLANK({!$Record.CoopPoint__c}),0,  {!$Record.CoopPoint__c}) * {!CoopValue})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PreratedAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.blng__Quantity__c}*{!$Record.blng__UnitPrice__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PreratedQuantityFlatkWh</name>
        <dataType>Number</dataType>
        <expression>{!$Record.blng__Quantity__c} * {!$Record.FreeChargeIndex__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ProcessingDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.blng__EndDateTime__c})</expression>
    </formulas>
    <formulas>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Penalty_Check} = true,
DATEVALUE({!$Record.PenaltyStartDateTime__c}),
DATEVALUE({!$Record.blng__StartDateTime__c})
)</expression>
    </formulas>
    <formulas>
        <name>Time_to_Subtract</name>
        <dataType>Number</dataType>
        <expression>IF(DATEVALUE({!$Record.blng__EndDateTime__c}) &gt;= DATE(YEAR(DATEVALUE({!$Record.blng__EndDateTime__c})),4,1) - CASE(
MOD(DATE(YEAR(DATEVALUE({!$Record.blng__EndDateTime__c})),4,1) - DATE(1900,1,7),7),
0,7,
MOD(DATE(YEAR(DATEVALUE({!$Record.blng__EndDateTime__c})),4,1) - DATE (1900,1,7),7)
) &amp;&amp;
DATEVALUE({!$Record.blng__EndDateTime__c}) &lt; DATE(YEAR(DATEVALUE({!$Record.blng__EndDateTime__c})),11,1) - CASE(
MOD(DATE(YEAR(DATEVALUE({!$Record.blng__EndDateTime__c})),11,1) - DATE(1900,1,7),7),
0,7,
MOD(DATE(YEAR(DATEVALUE({!$Record.blng__EndDateTime__c})),11,1) - DATE(1900,1,7),7)
),
2/24,
1/24
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Year</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.blng__OrderProduct__r.blng__NextBillingDate__c}))</expression>
    </formulas>
    <interviewLabel>Usage - Set Matching ID Usage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Usage - Set Matching ID Usage</label>
    <loops>
        <name>Loop_Holidays</name>
        <label>Loop Holidays</label>
        <locationX>1073</locationX>
        <locationY>8219</locationY>
        <collectionReference>Get_Holidays</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Holidays_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_StartDateTime</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Voci_Listino_Pay_per_Use</name>
        <label>Loop Voci Listino Pay-per-Use</label>
        <locationX>1832</locationX>
        <locationY>9371</locationY>
        <collectionReference>Voci_Listino_Pay_per_Use_Final_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_StartDateTime2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>valorizzare_il_campo_prerated_unit_price_con_max_pricing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Associazione_Listino_Prodotto</name>
        <label>Get Associazione Listino-Prodotto</label>
        <locationX>1826</locationX>
        <locationY>4331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Associazione_Listino_Prodotto_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_order_Product.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookProductRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Hours</name>
        <label>Get Business Hours</label>
        <locationX>1073</locationX>
        <locationY>5627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Monday_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contract_record</name>
        <label>Get contract record</label>
        <locationX>1403</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contract_exist</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND(4 OR 5)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_record_subscription.SBQQ__Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ActiveContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Holidays</name>
        <label>Get Holidays</label>
        <locationX>1073</locationX>
        <locationY>8099</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Holidays</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Holiday</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Listino_Pay_per_Use</name>
        <label>Get Listino Pay-per-Use</label>
        <locationX>1073</locationX>
        <locationY>4571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Voci_di_Listino</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PpuPricebook__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_order_Product</name>
        <label>Get order Product</label>
        <locationX>1826</locationX>
        <locationY>4211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Associazione_Listino_Prodotto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Product_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Consumption_Rate</name>
        <label>Get Order Product Consumption Rate</label>
        <locationX>1826</locationX>
        <locationY>2111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usage_Summary_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItemConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Usage_Summary.blng__OrderItemConsumptionSchedule__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__OrderItemConsumptionRate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Consumption_Rate_Evergreen</name>
        <label>Get Order Product Consumption Rate Evergreen</label>
        <locationX>2222</locationX>
        <locationY>2591</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Usage_Summary_Evergreen_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItemConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Usage_Summary_Evergreen.blng__OrderItemConsumptionSchedule__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__OrderItemConsumptionRate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_product_coop</name>
        <label>Get product coop</label>
        <locationX>1249</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_product_coop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_record_subscription.SBQQ__Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COOP</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_subscription</name>
        <label>Get record subscription</label>
        <locationX>1568</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subscription_exist</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>SBQQ__TerminatedDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__TerminatedDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ProductValue__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductValue__c</queriedFields>
        <queriedFields>SBQQ__Contract__c</queriedFields>
        <queriedFields>SBQQ__Product__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Usage_Summary</name>
        <label>Get Usage Summary</label>
        <locationX>1826</locationX>
        <locationY>1991</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Product_Consumption_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__MatchingAttribute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__MatchingAttribute__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__UnitOfMeasure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__UnitOfMeasure__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryStartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>ProcessingDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryEndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ProcessingDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__UsageSummary__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Usage_Summary_Evergreen</name>
        <label>Get Usage Summary Evergreen</label>
        <locationX>2222</locationX>
        <locationY>2471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Product_Consumption_Rate_Evergreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__MatchingAttribute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__MatchingAttribute__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__UnitOfMeasure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__UnitOfMeasure__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__UsageSummary__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Voci_di_Listino</name>
        <label>Get Voci di Listino</label>
        <locationX>1073</locationX>
        <locationY>4691</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Voci_Listino_CPO_Provider</targetReference>
        </connector>
        <filterLogic>(1 OR 4) AND 2 AND 3</filterLogic>
        <filters>
            <field>CPO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Provider__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ChargeType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ChargeType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PpuPricebook__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Listino_Pay_per_Use.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CPO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tariffa default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PpuPricebookEntry__c</object>
        <sortField>Pricing__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1700</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Insert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__StartDateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>blng__Usage__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Check_Casistiche</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Check_Friday_BH</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Check_Monday_BH</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Check_Saturday_BH</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Check_Sunday_BH</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Check_Thursday_BH</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Check_Tuesday_BH</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Check_Wednesday_BH</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>COOP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>COOP</stringValue>
        </value>
    </variables>
    <variables>
        <name>CoopValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>7</scale>
        <value>
            <numberValue>0.0081967</numberValue>
        </value>
    </variables>
    <variables>
        <name>CPO_Provider_List_Size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Voci_Listino_CPO_Provider</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PpuPricebookEntry__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Voci_Listino_default</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PpuPricebookEntry__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Voci_Listino_Filter_Holidays</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PpuPricebookEntry__c</objectType>
    </variables>
    <variables>
        <name>Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Date2</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Default_List_Size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Holiday_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Holidays_List</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Max_Pricing</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>number_to_add</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OnHolding</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ON HOLDING</stringValue>
        </value>
    </variables>
    <variables>
        <name>Order_Product_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Penalty_Check</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Prerated_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Prerated_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>Sunday_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>Voci_Listino_Pay_per_Use_Final_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PpuPricebookEntry__c</objectType>
    </variables>
    <variables>
        <name>Voci_Listino_Pay_per_Use_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PpuPricebookEntry__c</objectType>
    </variables>
    <variables>
        <name>Weekday_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
