force-app/main/default/flows/UpgradeMandatoNumberOnPaymentMethodSDD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>CheckCustomSettings</name>
        <label>CheckCustomSettings</label>
        <locationX>426</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>ThereIsNotConfiguration</defaultConnectorLabel>
        <rules>
            <name>ThereIsConfiguration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCustomAutonumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePaymentMethod</targetReference>
            </connector>
            <label>ThereIsConfiguration</label>
        </rules>
    </decisions>
    <formulas>
        <name>AddProgessiveNumber</name>
        <dataType>Number</dataType>
        <expression>{!getCustomAutonumber.ProgressiveNumber__c} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>firstMandatoNumber</name>
        <dataType>String</dataType>
        <expression>&quot;MOB000000000001&quot;</expression>
    </formulas>
    <formulas>
        <name>NumeroMandato</name>
        <dataType>String</dataType>
        <expression>{!getCustomAutonumber.Prefix__c} &amp; LPAD(TEXT(({!getCustomAutonumber.ProgressiveNumber__c} +1 )), ROUND({!getCustomAutonumber.Total_Length__c}, 0 ), &apos;0&apos; )</expression>
    </formulas>
    <interviewLabel>UpgradeMandatoNumberOnPaymentMethodSDD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Method - UpgradeMandatoNumberOnPaymentMethodSDD</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCustomAutonumber</name>
        <label>getCustomAutonumber</label>
        <locationX>195</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCustomSettings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Numero Mandato</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomAutonumber__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCustomSettings</name>
        <label>UpdateCustomSettings</label>
        <locationX>703</locationX>
        <locationY>496</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCustomAutonumber.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Autonumber__c</field>
            <value>
                <elementReference>NumeroMandato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgressiveNumber__c</field>
            <value>
                <elementReference>AddProgessiveNumber</elementReference>
            </value>
        </inputAssignments>
        <object>CustomAutonumber__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePaymentMethod</name>
        <label>UpdatePaymentMethod</label>
        <locationX>703</locationX>
        <locationY>301</locationY>
        <connector>
            <targetReference>UpdateCustomSettings</targetReference>
        </connector>
        <inputAssignments>
            <field>MandateCode__c</field>
            <value>
                <elementReference>NumeroMandato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MandateSubscriptionDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>68</locationX>
        <locationY>1</locationY>
        <connector>
            <targetReference>getCustomAutonumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__PaymentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>MandateCode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>blng__PaymentMethod__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
