force-app/main/default/flows/Usage_Gestione_Consumi.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Asset_assignment_from_usage_insert</name>
        <label>Asset assignment from usage insert</label>
        <locationX>182</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>Get_Asset_0.TempoRicaricheMese__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset_0.NumeroRicaricheMese__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset_0.FreeRechargeNumber__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>RicaricheGratis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset_0.kWhConsumatiMese__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>KWhConsumatinelmese</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipologia_Contratto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Ricaricabile_or_Flat</name>
        <label>Assignment for Ricaricabile or Flat</label>
        <locationX>50</locationX>
        <locationY>2207</locationY>
        <assignmentItems>
            <assignToReference>Get_Asset_0.ResidualCredit__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>KWhConsumatinelmese</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset_0.NumeroSuperamentoSoglia__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NumerosuperamentosogliaINSERT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Sum_Total_Co2</name>
        <label>set Sum Total Co2</label>
        <locationX>715</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>TotalCo2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CO2_Kg__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setValueOnAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_TotalCO2</name>
        <label>set TotalCO2</label>
        <locationX>451</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>TotalCo2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CO2_Kg__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setValueOnAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_TotalCo2_first</name>
        <label>set TotalCo2 first</label>
        <locationX>583</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>TotalCo2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.CO2Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Account_CO2_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValueOnAccount</name>
        <label>setValueOnAccount</label>
        <locationX>583</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>getAccount.CO2Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalCo2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Order_Products</name>
        <label>Has Order Products</label>
        <locationX>545</locationX>
        <locationY>1727</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>order_product_next_billing_date</targetReference>
            </connector>
            <label>Yes exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Account_CO2_Null</name>
        <label>is Account CO2 Null?</label>
        <locationX>583</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>set_Sum_Total_Co2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.CO2Total__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_TotalCO2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_CO2_Populated</name>
        <label>is CO2 Populated?</label>
        <locationX>781</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Asset_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CO2_Kg__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>order_product_next_billing_date</name>
        <label>order product next billing date</label>
        <locationX>336</locationX>
        <locationY>1847</locationY>
        <defaultConnectorLabel>is not</defaultConnectorLabel>
        <rules>
            <name>is_less_than_order_product_next_billing_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__EndDateTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Order_Product_Record.blng__NextBillingDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_assignment_from_usage_insert</targetReference>
            </connector>
            <label>is less than order product next billing date</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_is_Asset_0</name>
        <label>There is Asset?</label>
        <locationX>781</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Product_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipologia_Contratto</name>
        <label>Tipologia Contratto</label>
        <locationX>182</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Update_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Consumo</defaultConnectorLabel>
        <rules>
            <name>Ricaricabile_o_Flat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Order__r.ContractType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Consumo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Ricaricabile_or_Flat</targetReference>
            </connector>
            <label>Ricaricabile o Flat</label>
        </rules>
    </decisions>
    <description>Rimosso ramo update</description>
    <environments>Default</environments>
    <formulas>
        <name>KWhConsumatinelmese</name>
        <dataType>Number</dataType>
        <expression>IF(ISPICKVAL({!$Record.Type__c},&apos;kWh&apos;),
	IF(NOT(ISNULL({!$Record.FreeChargeIndex__c})),
		{!$Record.blng__Quantity__c}*(1-{!$Record.FreeChargeIndex__c}),
		{!$Record.blng__Quantity__c}),
	0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NumerosuperamentosogliaINSERT</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Asset_0.ResidualCredit__c}&lt;0 ,1 ,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RicaricheGratis</name>
        <dataType>Number</dataType>
        <expression>IF( ( {!Get_Asset_0.FreeRechargeNumber__c} - 1 ) &lt; 0 ,0 ,1 )</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Usage - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Usage - Gestione Consumi</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_0</name>
        <label>Get Asset</label>
        <locationX>781</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_is_Asset_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StartCard__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Record</name>
        <label>Get Order Product Record</label>
        <locationX>545</locationX>
        <locationY>1607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_0.SBQQ__OrderProduct__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>583</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_TotalCo2_first</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>182</locationX>
        <locationY>2423</locationY>
        <inputReference>Get_Asset_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>583</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Get_Asset_0</targetReference>
        </connector>
        <inputReference>getAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>655</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_CO2_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartCard__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>kWh</stringValue>
            </value>
        </filters>
        <object>blng__Usage__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>params</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalCo2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
