force-app/main/default/flows/Usage_Order_Bill_Now.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Print_Timestamp</name>
        <label>Print Timestamp</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>PrintTimestamp</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>params</name>
            <value>
                <elementReference>params</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Params</name>
        <label>Set Params</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>params</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Usage - Order Bill Now</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>params</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InsertUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Print_Timestamp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contratto_Consumo_Pagamento_Carta_di_credito_Paypal</name>
        <label>Contratto Consumo &amp; Pagamento Carta di credito/Paypal</label>
        <locationX>446</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Order__r.ContractType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Order__r.SBQQ__Quote__r.Billing_Profile__r.PaymentMethod__r.blng__PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Order__r.SBQQ__Quote__r.Billing_Profile__r.PaymentMethod__r.blng__PaymentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bill_Now_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>InsertUpdate</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record__Prior.Id}),&apos;Insert&apos;,&apos;Update&apos;)</expression>
    </formulas>
    <interviewLabel>Usage - Order Bill Now {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OLD__Usage - Order Bill Now</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Bill_Now_Order</name>
        <label>Bill Now Order</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__BillNow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__BillNow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Params</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MainUsage__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </filters>
        <filters>
            <field>BillingOrderFlag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingOrderFlag__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>blng__Usage__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Contratto_Consumo_Pagamento_Carta_di_credito_Paypal</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>params</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
